[2015-11-05 00:08] ivanpopelyshev opened #1 "Canvas fallback is too slow"
Solution:

0. ZLayer assigns special ids to all layers, and "subscribes" on their "addXXX" events.

1. RectTileLayer.renderCanvasTiles(...) method takes tiles list.

2. RectTileLayer passes all addRect calls to special listener which compares it to previous tilemap.

3. GraphicsTileLayer overrides drawRect method , does the same.

4. ZLayer determines which tiles were changed and how (may be they

[2015-11-05 00:21] ivanpopelyshev opened #2 "Make water shader"
We need some killer features.

[2015-11-05 00:22] ivanpopelyshev opened #3 "Make Tiled demo"
Choose some Tiled maps and try to show them with that renderer.

[2015-11-05 00:24] ivanpopelyshev opened #4 "Add Gameofbombs tilemaps"
Subj. integrate with https://github.com/ivanpopelyshev/bombermine-shuffle

[2016-04-10 02:23] pixelpicosean opened #6 "Does not render properly when resolution is not 1"
Seems like this plugin only works when renderer resolution is 1.

[2016-04-10 10:07] ivanpopelyshev commented on #6
I dont have problem with resolutions.

Which pixi.js do you use, v3 or v4?

And wich pixi-spine?

As for skeleton side, it will recognize the resolution of spine object if atlas and png file will have @2x as a suffix : skeleton@2x.png , skeleton@2x.atlas

[2016-05-17 11:56] ivanpopelyshev commented on #6
Ok, updated to pixiv4, but i still didnt work on resolution.

[2016-05-17 13:10] andrewstart opened #7 "Improper rendering on retina displays"
When using a retina display (tested on a MacBook with Chrome), the tilemap example renders even more zoomed out, moves faster, and has small gaps between tiles (visibility of gaps changes as camera moves). <img width="927" alt="lineylines" src="https://cloud.githubusercontent.com/assets/1816311/15323210/e7baf3f2-1c0e-11e6-8e64-e0fa55911a65.png">

[2016-05-17 13:12] ivanpopelyshev commented on #7
Its interesting that lines are not aligned with half-tiles and not whole tiles

[2016-05-17 14:10] andrewstart commented on #7
Quick video: https://www.youtube.com/watch?v=M_vbfNer0PM

[2016-05-18 16:15] ivanpopelyshev commented on #6
It does work with renderer resolution, but not with texture one.

[2016-05-18 16:16] ivanpopelyshev commented on #7
Is it fixed now, in https://pixijs.github.io/pixi-tilemap/?resolution=2&scale=1.4 ?

[2016-05-18 16:40] andrewstart commented on #7
No, when the scale (or resolution) is not an integer value, you still have the lines.

[2016-05-18 16:53] ivanpopelyshev commented on #7
resolution must be 2 for retina. I thought it will work for every scale :(

[2016-10-18 22:11] steppers opened #9 "Screen Clipping Off?"
Hi, I'm using this for some university coursework. I really don't like how the tiles don't render when they are > 50% offscreen. I can't find where this is being done so is there a way to change this to only cull when a tile is 100% offscreen?

Thanks,
Steppers

[2016-10-18 22:14] ivanpopelyshev commented on #9
Hi! How do you fill the tilemap? In which browser did you see the clipping?

[2016-10-18 22:16] steppers commented on #9
Chrome. The tiles closest the edge of the window get culled when they are half out :(

[2016-10-18 22:16] ivanpopelyshev commented on #9
1. Try pass "false" as third parameter (use rects instead of squares)

[code]

2. Try https://github.com/pixijs/pixi-tilemap/tree/dev-multitexture , its experimental branch, I changed a lot in it. Allows up to 12 textures of 1024x1024 size

[2016-10-18 22:19] steppers commented on #9
The first one worked.
Thanks, a ton! :)

[2016-10-18 22:19] #9 closed

[2017-01-11 08:56] finscn commented on #3
Is there any news ?

[2017-01-11 09:02] finscn opened #10 "Is there any news about pixi-tilemap for PIXI 4.3 ?"

[2017-01-12 21:58] catharsisjelly opened #11 "Where is atlas_image taken from"
Hello there,

I am trying to understand and apply what you are showing in the demo in my code and I don't understand what you're trying to access. This is the following line I am struggling with.

[code]

In particular where the `atlas_image` is being set-up or how it is being called. I can see in the repo that [atlas.json](https://github.com/pixijs/pixi-tilemap/blob/master/basic/atlas.json) is a

[2017-01-12 22:30] ivanpopelyshev commented on #11
if you add json atlas named "atlas", PIXI creates image "atlas_image" in resources, which is PNG referenced in the atlas. Its pixi inner thing :)

[2017-01-12 22:36] catharsisjelly commented on #11
Thanks for the response, I realise now that yes this is PIXI and not something specific to the tilemap add on but thankyou for the explanation. Does it just add "_image" to whatever you name it in the resource or is there something more complicated going on here? If this behaviour is not documented somewhere then I will see if I can find the right place to add something and then send a contributio

[2017-01-12 22:43] ivanpopelyshev commented on #11
Yes, only '_image'. The other way is to ask atlas

[code]

That will add whole atlas too, but i dont want to specify some texture name.

https://github.com/pixijs/pixi.js/blob/dev/src/loaders/spritesheetParser.js#L12

if you use pixi-spine, it will also create two dependant resources - one for atlas file, one for png

[2017-01-18 01:01] ivanpopelyshev commented on #10
Its ready, and I just fixed a new bug that appeared after 4.3 conversion.

[2017-01-18 01:01] #10 closed

[2017-02-24 02:59] starburst997 opened #12 "Using a RenderTexture crash"
I wanted to use a RenderTexture instead and I was getting an error because the source of the base texture is "null".

Specifically it throw an error [here](https://github.com/pixijs/pixi-tilemap/blob/master/src/TileRenderer.ts#L7).

I was able to get around this with this small [modification](https://github.com/starburst997/pixi-tilemap/commit/b026f88d1c2272d0c55cbaa000d27502a5d98de4).

However th

[2017-02-24 08:01] ivanpopelyshev commented on #12
Current implementation packs 4 1024 textures into one of 2048, that was made for compatibility with rpgmaker.

So your fix will work only if its using 1 texture. I wont merge it, but I'll take it into account :)

[2017-03-10 20:34] #12 closed

[2017-06-02 16:20] Oza94 opened #14 "Remove a frame / tile ?"
Is it possible to remove a single frame or tile without clearing / populating all the `CompositeRectTileLayer` again ? I have a use case where player actions change the tilemap with small but frequent updates.

I've looked in the sources and did not find any method that seems to do that apart from `clear()`.

[2017-06-02 17:00] ivanpopelyshev commented on #14
Don't worry, clear() and refill are fast.
Two cases:

1. Every frame you clear and refill it - same as PIXI baseline performance
2. Nothing is changing - CPU usage is 0%

[2017-06-09 09:39] Oza94 commented on #14
Ok thanks I'll give it a try !

[2017-06-09 09:39] #14 closed

[2017-06-09 12:56] Oza94 opened #15 "Cannot read property 'registerPlugin' of undefined (using webpack)"
Hello again,

So I'm trying to import `pixi-tilemap` in a project built using webpack. The following fails :

[code]

When I inspect, the error seems to be thrown by [this line](https://github.com/pixijs/pixi-tilemap/blob/08501ffe5f198131eb168d461090a91d404e6dbf/src/CanvasTileRenderer.ts#L13). Any idea why this fails ? I'm already using this method for other pixi plugins (like `pixi-particles`).

[2017-06-09 13:32] ivanpopelyshev commented on #15
I dont use webpack, but we have something in pixi-spine plugin: https://github.com/pixijs/pixi-spine/blob/master/sandbox/webpack.config.js

Looks like you need to specify pixi and other things in config.

webpack.config.js

[code]

[2017-06-09 14:35] Oza94 commented on #15
I tried with `externals` and `ProvidePlugin` without success. It seems that `PIXI` is undefined when webpacks loads the `bin/pixi-tilemap.js`.

I have to disagree on that ^^' Since PIXI uses es6 with module imports it allows tree shaking and other nice features with webpack ! A bit tedious to setup but once it works it rocks ! Also I really don't want to manage third-party libs as additional entri

[2017-06-09 15:27] ivanpopelyshev commented on #15
Yeah, you might have to edit resulting js file to make it compatible with webpack. It wasnt easy to make pixi-spine compatible with everything, and I still dont understand how it works.

[2017-06-28 15:57] danielytics opened #16 "Rendering artifacts in the WebGL rpgmaker demos"
Hi, I was looking at the rpgmaker demos and noticed some artifacts. These do not occur in the canvas version:

On mobile safari on iOS, the tiles are not seemless. There's a very thin (it looks like 1 pixel) black line between tiles. Its not always there, but it flickers in and out as the demo scrolls (seems like a rounding error?). This happens in both the retina and normal demos.

On OSX (tested

[2017-06-28 16:28] ivanpopelyshev commented on #16
Updated. Try it again.

[2017-06-28 16:38] danielytics commented on #16
Yes, both issues are now fixed - awesome! Thanks for the qucik fix 👍

However, there is one more: again, on safari on iOS, there is a vertical gap between some tiles. Its consistently the same tiles and only vertical lines (never horizontal).

![img_0144](https://user-images.githubusercontent.com/2631410/27649019-646ea5ce-5c28-11e7-9710-3b2eba113a1e.PNG)

[2017-06-28 16:40] ivanpopelyshev commented on #16
OK, that's a bug that still hunts me. Clamping is wrong. However, if you use your own set of textures, and you have extra pixel at each side of tile that has the same color - it wont happen.

[2017-06-28 16:42] danielytics commented on #16
It seems suspicious that its only that one water/grass boundary tile. There were others too, but I suspect its a limited set.

Is this a known bug? Feel free to close this issue. The original bugs are fixed now :) Thanks again!

[2017-06-28 16:45] ivanpopelyshev commented on #16
That's because its position in tileset. It has some dark neighboring tiles at the right.

[2017-06-28 16:47] danielytics commented on #16
Ahh, I see. Thanks for the explanation and quick fix. I'll close this issue.

[2017-06-28 16:48] ivanpopelyshev commented on #16
Wait, lets try to fix it !

[2017-06-28 16:49] ivanpopelyshev commented on #16
Did you clone and host it on your comp?

[2017-06-28 16:52] ivanpopelyshev commented on #16
If so, try add

[code]

in the beginning of main.js

[2017-06-28 16:53] danielytics commented on #16
No, I only ran your demos to see it in action before trying to use it myself. I will do so now though and test it with that change and report back.

[2017-06-28 17:03] danielytics commented on #16
Actually, if you don't mind re-uploading, that will be faster for me to test on my iPad since I would need to serve up the HTML from somewhere and I don't have anywhere convenient setup right now.

[2017-06-28 17:04] ivanpopelyshev commented on #16
Done, it will be updated soon (cache sucks!).

Btw, https://github.com/Alan01252/pixi-tilemap-tutorial is good tutorial.

[2017-06-28 17:08] danielytics commented on #16
Yes, that does indeed seem to fix it for me!

Thanks for the link, I will read it shortly :)

[2017-06-28 17:13] ivanpopelyshev commented on #16
Yes, it seems that "medium" precision on iphone has only 11 bits , while this tile appears at >1024 and cant be clamped to something like "1299.5", it clamps straight to 1300. I thought by standart it must be at least 12.

[2017-06-28 17:14] #16 closed

[2017-06-28 17:14] danielytics commented on #16
Ahh, that's irritating. 11 bits is a very strange choice of precision.

[2017-06-28 17:16] ivanpopelyshev commented on #16
May be my calculations aren't right, but we really have problems with it in pixi.js, people are complaining about shaking animations. HIGHP and another hack seem to solve it.

[2017-07-01 00:45] Majirefy opened #17 "How to use RPG MV Map"
How to use this for RPG MV Map?

RPG MV creates a JSON file including events, bgm, and other data. Is it possible to use RM like a map editor?

[2017-07-01 06:06] ivanpopelyshev commented on #17
Yes, it is possible. Just clone it and look into "index.html" and everything inside "demo" folder.

[2017-08-16 17:46] finscn opened #18 "[SUGGESTION] Use `dist` instead of `bin`"
Use `dist`  instead of `bin`,  as same as other pixi projects.

And add `dist` to .gitignore.

And I hope could build  pixi-tilemap.min.js version.

[2017-08-16 21:46] finscn opened #19 "Should we add `break;` after this line ?"
https://github.com/pixijs/pixi-tilemap/blob/7baa397a05a90aa66d3e7afc7e2b2b22060a045d/src/CompositeRectTileLayer.ts#L86

[2017-08-16 22:04] ivanpopelyshev commented on #19
I dont think it matters

[2017-08-16 22:09] finscn commented on #19
if no `break` , the texture will be added to every child.  Is it necessary ?

[2017-08-16 22:09] finscn opened #20 "I add a feature about `addFrame`. Is it useful ?"
I make `addFrame` support texture index , it could  provide better performance.

the code :
[code]

the example :
[code]
In real use case ,  the index of  tiles in tile-set are static.
And in the map.json file ,   I use `index` to  config the map data, like this:
[code]

[2017-08-16 22:10] ivanpopelyshev commented on #19
Ok, you're right.

[2017-08-16 22:20] finscn commented on #20
If you think it's useful , I'll create a PR

[2017-08-16 22:22] ivanpopelyshev commented on #20
I forgot... may be there was some other functions that uses that index instead?

[2017-08-16 22:26] finscn commented on #20
Because my english .... I don't understand `may be there was some other functions that uses that index instead?` ...
 Your mean is "there is already a function could support this feature" ?
or
"I should create a new function to support this feature" ?

[2017-08-16 22:50] finscn commented on #3
I've created one, and I'll give it to you later.
( after issue 18 , 19  & 20  are  solved )

[2017-08-17 00:30] finscn opened #21 "[Bug] When textures.length >= 16 , can't render correctly."
When I  create a CompositeRectTileLayer Object like this :
[code]
if tileTextures include `16` or `more than 16` textures , the map can't be rendered  correctly.
The result of rendering is like this :
<img width="182" alt="2017-08-17 8 28 05" src="https://user-images.githubusercontent.com/288367/29390933-371bff06-82b9-11e7-8bd7-405254ce4d4a.png">

the 3 colors are not be included in any  tile text

[2017-08-17 00:58] finscn commented on #21
I  found the key point of this bug :
https://github.com/pixijs/pixi-tilemap/blob/master/src/TileRenderer.ts#L95

[2017-08-17 06:30] ivanpopelyshev commented on #21
Agree.

[2017-08-17 08:52] finscn opened #25 "[Bug] when use `useSquare==true`, the rendering has a bug in Y axis ."
When the map scroll in Y (the viewport moves down) ,

the tiles in the top line (in viewport) will disappear too early ,
and the bottom line  (in viewport) will disappear too late.

------
But X axis never with wrong.
When the map scroll  in X (the viewport moves right)   ,  everything is OK.

If not use useSquare==true,   everything is also OK.

[2017-08-17 08:53] ivanpopelyshev commented on #25
I think to drop that thing in 2.0 version, and use instancing instead.

[2017-08-17 09:05] finscn commented on #25
the `vec2 clamped` in square.frag is never be used.  Is it about this bug ?

[2017-08-17 09:28] ivanpopelyshev commented on #25
You sure that you need squares and gl.POINT? I just wanted vertex buffer to be 4 times smaller, that's why i used gl.POINT. I started to think about 2.0 yesterday , when you started your crusade in pixi-tilemap, and I'm starting to code it right now.

Can I look at your game pretty please? May be I'll see some other ideas for plugins :)

[2017-08-17 09:33] #19 closed

[2017-08-17 09:34] #21 closed

[2017-08-17 09:34] ivanpopelyshev commented on #20
I mean, I dont remember whether there is a function that already supports it :) If not, then I'll take you fix.

[2017-08-17 14:52] finscn commented on #25
Thank you very much.
But I'm a poor man. In China , if you can't give lots of money or a big house for  mortgage (bad english),  you can't go abroad freely.

So sad ...  tears...

-----
I'll create a PR soon

[2017-08-17 14:53] finscn commented on #20
Thank you very much.
But I'm a poor man. In China , if you can't give lots of money or a big house for  mortgage (bad english),  you can't go abroad freely.

So sad ...  tears...

-----
I'll create a PR soon

[2017-08-17 15:10] #20 closed

[2017-08-17 16:10] finscn commented on #18
I don't know how to build pixi-tilemap.min.js .

[2017-08-17 16:37] ivanpopelyshev commented on #18
Dont build it, let people use big version. I hate mins.

[2017-08-17 16:38] ivanpopelyshev commented on #18
Btw, new plugin is coming! And tilemap will depend on it: https://github.com/gameofbombs/pixi-super-atlas

[2017-08-23 14:02] finscn opened #30 "Why when tileset's size > 1024 , the `texPreChild` have to be `1`"
when the image of tileset is bigger then 1024*1024 ,  the `texPreChild` have to be `1`,
otherwise there is a error

[code]
And the result of rendering will be mistake.

[2017-08-23 14:05] ivanpopelyshev commented on #30
Tilesets more than 1024 are not supported. That code was mode for RMMV in a hurry and there's no middle solution that works both with large and small tilesets, wait for 2.0 that I'm working on now.

[2017-08-23 14:14] finscn commented on #30
I found there some hard-code`1024`  in source.  they are the reason ?
I try to change them from 1024 to 2048 , but no effect and take more mistakes....

[2017-08-23 14:16] finscn commented on #30
@ivanpopelyshev , where can I  find 2.0 ?

[2017-08-23 14:16] ivanpopelyshev commented on #30
Exactly.

[2017-08-23 14:18] finscn commented on #30
@ivanpopelyshev , where can I find 2.0 ?

[2017-08-23 14:19] ivanpopelyshev commented on #30
You can find WIP plugin for atlas here: https://github.com/gameofbombs/pixi-super-atlas

I'm working on it right now.

[2017-08-23 14:26] ivanpopelyshev commented on #30
If we just remove those renderTextures, RMMV will stop working and that'll be very bad.

The only solution is to make runtime atlas that can combine BaseTextures with limits only on number of texture slots and the size of GL texture.

[2017-08-31 16:53] maltir commented on #3
Does that mean pixi-tilemap work with tiled map?

[2017-08-31 17:42] ivanpopelyshev commented on #3
People use it with tiled, because pixi-tilemap does not enforce any of formats, its just low-level plugin for renderer. I dont have tiled demo yet but i saw them :)

[2017-09-05 04:13] finscn opened #31 "I can't understand `animX & animY`"
Is there some documents about them ?

[2017-09-07 04:23] finscn commented on #31
@ivanpopelyshev  , Could you give me some help ?

[2017-09-08 10:32] ivanpopelyshev commented on #31
https://github.com/Alan01252/pixi-tilemap-tutorial#add-another-image-to-the-tile-map

[2017-09-08 10:33] ivanpopelyshev commented on #31
You specify X and Y for animation in renderer, and shader multiplies it by animX,animY offset of specific tile. That's an offset.

[2017-09-08 19:18] finscn commented on #31
Oh, I see.
But I like this way for animation :
[code]
It's in your demo. it's more flexible.

[2017-09-08 19:20] ivanpopelyshev commented on #31
Yes, but its not shader-side, you are eating cpu with that.

[2017-09-08 19:22] finscn commented on #31
In real game , the map maybe is very large ,
We need  `clear tilemap , then add all Frames in viewport in game tick`  is common .

So We always need that call `addFrame` frequently

[2017-09-08 19:28] finscn commented on #31
this is a part of my test case :
[code]

[2017-09-08 19:33] finscn commented on #31
we can't avoid that call addFrame frequently , So , I think maybe could remove animX & animY feature in shader & pixi-tilemap.

[2017-09-08 19:37] finscn opened #32 "I found I can't use `carmack scroll algorithm` in pixi-tilemap."
We can't remove some frames of all frames after `addFrame` ,
We have to remove all , or keep all .

So  can't use `carmack scroll algorithm` in pixi-tilemap.

Is it ?

[2017-09-08 21:08] ivanpopelyshev commented on #31
we need that feature because of rpgmaker MV :) we can make it better if you have an idea how to store textures in a sampler of uniforms.

[2017-09-08 21:10] ivanpopelyshev commented on #32
The idea of pixi-tilemap is to refill tilemap completely whenever the camera touches the edge of "filled" part of tilemap. Its easier than `carmack`. I think carmack is certainly better for `canvas2d` and RMMV uses it, but for webgl i think its the same.

[2017-09-08 21:29] finscn commented on #32
I see & I agree with you.

[2017-09-08 21:29] #32 closed

[2017-09-17 18:48] finscn opened #33 "[Bug] Don't support `one tile covers another one`"
When a tile has something (e.g.  grass )  need to  cover other tile.

They can't be rendering correct.

![image](https://user-images.githubusercontent.com/288367/30523862-ce97e80a-9bae-11e7-9cd7-6f471853f6fc.png)

![image](https://user-images.githubusercontent.com/288367/30523876-ffcd60d0-9bae-11e7-9a0c-0813a41642dd.png)

[2017-09-17 19:09] ivanpopelyshev commented on #33
Isn't that problem of how do you order tiles?

[2017-09-17 19:15] finscn commented on #33
I think I'm right . I debug & test . the order is right.
 I've used Tiled many years , and  wrote some Tiled's lib/tools/utils  with different game engines.
I think  I don't   make the basic mistake.

of course , maybe I maked some other mistakes.
But I've no idea now. So sad.

Could you give me some adviace ?

BTW , When I render the map with PIXI.ParticleContainer &  many Sprites, everything  is

[2017-09-17 19:26] ivanpopelyshev commented on #33
Well take only 5x5 map and look the order you call addRect().

[2017-09-17 19:28] finscn commented on #33
<img width="484" alt="2017-09-18 3 26 26" src="https://user-images.githubusercontent.com/288367/30524171-3cc00b50-9bb4-11e7-8521-14019e923202.png">

I make a 1*2 , the order is right
index 23 is water , 7 is grass .

x y is a relative postion.

[2017-09-17 19:43] finscn commented on #33
I found that :
the tile with big index is be put into  the last  child (children) of CompositeRectTileLayer.
[code]
So , the rendering order is not as same as  addFrame/addRect order.

[2017-09-17 19:50] ivanpopelyshev commented on #33
Then make it that way it belongs only to one layer.

[2017-09-17 19:52] finscn commented on #33
one layer only could include 16 textures.
one texture is one tile . the tileset include many tiles.

[2017-09-17 19:53] ivanpopelyshev commented on #33
then how does it work with ParticleContainer?

[2017-09-17 19:55] finscn commented on #33
Because this code
[code]
the texPerChild could not bigger than 16.

[2017-09-17 19:58] finscn commented on #33
I create many sprites as tiles.
It's stupid.
because the pixi don't support the feature like this :
[code]
even though  , the tiles are the same , I have to create a new sprite.

[2017-09-17 20:02] finscn commented on #33
I love this feature I suggested , but no one  like it https://github.com/pixijs/pixi.js/issues/3388

[2017-09-17 20:15] finscn commented on #33
Current maxTextures = 4.
I don't what's mean , but I see this
 http://webglstats.com/webgl/parameter/MAX_TEXTURE_IMAGE_UNITS
most devices support 16 textures .  so may be we could change the maxTextures to 8 or 16.
Then texPerChild could be 4*8 or 4*16. I think it's enough

[2017-09-17 21:11] ivanpopelyshev commented on #33
May be you mistake Texture for BaseTexture?

[2017-09-17 21:44] finscn commented on #33
"May be you mistake Texture for BaseTexture?"  what's mean ?

[2017-09-17 21:45] finscn commented on #33
[code]

Is there something wrong ?

Thanks

[2017-09-17 21:50] ivanpopelyshev commented on #33
Ok, how many images do you have there? Can you assemble them into an atlas?

[2017-09-17 21:51] finscn commented on #33
@ivanpopelyshev  , the image file (tileset) just one png.

[2017-09-18 21:45] finscn commented on #33
@ivanpopelyshev ,  I think maybe pixi-tilemap needs a deep refactor.

* support big tileset image
* support more textures
* The order of rendering should be as same as  the order of calling `addFrame`.

[2017-09-18 21:54] ivanpopelyshev commented on #33
agree

[2017-09-28 16:21] finscn commented on #33
Do you have some new plan or roadmap about pixi-tilemap ?

[2017-10-01 16:55] finscn opened #41 "About `CompositeRectTileLayer.addRect`"
[code]
I think this method is useless and can't work correctly , because there is always `0` when call  `RectTileLayer.addRect`.

Could I remove this method ?

[2017-10-01 17:23] finscn commented on #41
Or change to like this :
[code]

[2017-10-02 19:46] finscn opened #42 "Are they needless in RectTileLayer.ts ?"
https://github.com/pixijs/pixi-tilemap/blob/e838c329892fbbaf0c96f3f3dd59ace70596bdf0/src/RectTileLayer.ts#L131-L142

[2017-10-02 20:15] finscn opened #43 "`bindTextures` should be call once. Am I right ?"
https://github.com/pixijs/pixi-tilemap/blob/e838c329892fbbaf0c96f3f3dd59ace70596bdf0/src/RectTileLayer.ts#L143

[2017-10-02 20:36] finscn commented on #43
if textures don't changed , these codes just need call once:
[code]

Maybe we could add a flag-var for it.

[2017-10-02 20:47] finscn commented on #43
I see. I'm wrong.  If there are many tilemap objects in one app , will take some errors.

[2017-10-02 20:47] #43 closed

[2017-10-02 21:17] finscn opened #45 "[REQUEST] A new TileRenderer for `textures with same baseTexture`"
I read the code of pixi-tilemap.
I found that ,  current TileRenderer supports  textures with different  baseTextures.
It will try to draw 4 tileset images( per image size = 1024*1024 ) to one PIXI.RenderTexture (size = 2048*2048).
And there are 4  PIXI.RenderTextures in TileRenderer.

I know the reason and the good part of this way.

But I think a  TileRenderer only for `textures with same baseTe

[2017-10-03 07:04] finscn commented on #45
Maybe we could refactor  RectTileLayer, make it with the same interface of CompositeRectTileLayer.

[2017-10-06 20:32] finscn opened #48 "[REQUEST]Let pixi-tilemap supports pixi-projection"
If  pixi-tilemap supports pixi-projection , we could do something like these :

<img width="476" alt="2017-10-07 4 30 28" src="https://user-images.githubusercontent.com/288367/31297377-60c4efec-aaab-11e7-870a-6454072824a5.png">
<img width="484" alt="2017-10-07 4 30 16" src="https://user-images.githubusercontent.com/288367/31297378-60c558e2-aaab-11e7-87d8-dab59eaf6147.png">
<img width="481" alt="20

[2017-10-06 21:10] ivanpopelyshev commented on #48
Walls need 3d. With 2d we can make only floor + trees..

But yeah, if we assume that tilemap is like a child of Mesh and Graphics,of course its possible.

[2017-10-06 21:20] finscn commented on #48
Now, I use PIXI.RenderTexture to implement this effect.
render tilemap to PIXI.RenderTexture ,
set   a  PIXI.projection.Sprite2d.texture = the PIXI.RenderTexture;

But I think it's not a good way.

[2018-01-01 01:17] winniehell commented on #3
@ivanpopelyshev Where should such a demo be put? Would it be part of https://github.com/pixijs/examples?

[2018-01-01 09:24] ivanpopelyshev commented on #3
@winniehell I'm going to create separated pixi-examples with all those plugins: spine, layers, tilemap, projection, heaven.

[2018-04-01 14:28] LordRampantHump opened #50 "Does this work?"
I dont see the map render at all here: http://pixijs.io/pixi-tilemap/?canvas

Am I missing something?

[2018-04-01 14:39] LordRampantHump commented on #50
commenting this line in main.js allows the map to render : _renderer.gl.flush();

[2018-04-01 14:53] ivanpopelyshev commented on #50
yep, you are right, need to fix it. there's no "gl" in canvas mode.

[2018-04-01 14:54] ivanpopelyshev commented on #50
Also, here's tutorial: https://github.com/Alan01252/pixi-tilemap-tutorial

[2018-07-03 19:13] roryclaasen commented on #15
@Oza94 did you manage to get this working?
I am currently having this same issue and don't see any alternative to pixi-tilemap

[2018-07-03 19:28] ivanpopelyshev commented on #15
i  didnt make it compatible with webpack, sorry. you have to wait more or do it yourself.

[2018-07-15 03:47] agemor commented on #15
@roryclaasen Add  `"@types/pixi.js": "^4.7.1"` to dependencies in `pixi-tilemap` package.json. Build it agian, and it should be working.

The problem was: webpack compiler is creating new `PIXI` variable because `pixi.js` is missing in dependency list.

[2018-07-17 13:43] ivanpopelyshev commented on #15
Try new version (1.2.4) from npm or from `dist` folder of this repo.

[2018-07-27 00:06] shijunti19 opened #53 "Do you have a version that supports V5"
Do you have a version that supports V5

[2018-07-27 00:43] #53 closed

[2018-08-14 09:00] roryclaasen commented on #15
@ivanpopelyshev sorry for getting back late. This works a charm now thank you!

[2018-09-17 19:06] autemox opened #54 "Pixi Filters do not animate over tilemap"
Hello,

Has anyone gotten pixi filters, such as the GodRayFilter https://pixijs.io/pixi-filters/docs/PIXI.filters.GodrayFilter.html to animate over a tilemap?

My filter appears but it fails to animate over the tilemap.

[2018-10-14 11:52] SET001 opened #55 "tile rotations"
In the [demo atlass.json](https://github.com/pixijs/pixi-tilemap/blob/master/basic/atlas.json) I can see a `rotated` property for each frame. However I can't find any more mentions of `rotated` in this repo. So my questions is - is it used somehow? How can I have rotated tile?

[2018-10-14 13:19] ivanpopelyshev commented on #55
Its texturepacker pixi format. https://www.codeandweb.com/texturepacker

pixi-tilemap doesnt take rotations into account, but i think you can change that ;)

[2018-11-21 11:51] #25 closed

[2018-11-21 11:51] #33 closed

[2018-12-08 14:12] SET001 opened #56 "docs"
are there docs for this library?

[2018-12-08 14:43] ivanpopelyshev commented on #56
https://github.com/Alan01252/pixi-tilemap-tutorial

Also, the thing I tell everyone, the most effective way to use pixi-tilemap:

Make a "window" around a camera, fill tilemap with tiles that fit that window, reposition the window and refill tiles every time camera hits edge of window. Unfortunately, no one made tutorial like that. I guess its too hard to make several "if"s and two "for" cycles ;)

[2018-12-09 13:55] SET001 commented on #56
Yeah, I saw that tutorial but I mean a documentation on each exported class, properties, methods (API).For now I have to read sources (thanx to gods it build on TypeScript which make it more self-descriptive)

[2018-12-09 14:21] ivanpopelyshev commented on #56
It'll be easier for pixi-v5, because most of this stuff already present in it.

[2019-02-05 05:30] Soliaonline opened #57 "[Question] Is there a map editor using pixi-tilemap?"
Is there a javascript based map editor for making Maps instead of using RPG maker itself?

[2019-02-05 10:04] ivanpopelyshev commented on #57
Nope. pixi-tilemap provides a way to show tilemap independently of the editor you choose. Rpgmaker maps work through rpgmaker runtime that uses pixi-tilemap.

[2019-02-06 15:24] romontei opened #58 "[QUESTION] Catch tile event"
Hi ! Does anyone have a solution for catching tile events? I did not find anything that allows me to catch a click on a tile for example. Thx !

[2019-02-06 16:23] ivanpopelyshev commented on #58
pixi-tilemap doesn't support it. However if you know how pixi handles interaction, it wont be difficult to add a `containsPoint` function in your tilemap and make it interactable. That function should iterate over all layers over all tiles and check which one is under the mouse. If you need extra fields in tile buffer for that - add them, modify the library to add something like "tileNumber" as an

[2019-02-07 13:08] blurymind commented on #3
the title of the issue here implies that we can now render tiled files. If so, what is the best tiled parser to use here? Do we have to write one from scratch?

[2019-02-07 13:17] ivanpopelyshev commented on #3
I know several projects that made their own tiled parsers.

Also, there's a tiled parser that doesnt use pixi-tilemap: https://github.com/riebel/pixi-tiledmap

[2019-02-07 18:11] blurymind commented on #3
Some of the Gdevelop devs are interested in adopting this, as a lot of people are requesting tiled support and GD uses pixijs for rendering.
We are wondering what the best approach would be to implement it in GDevelop5

[2019-02-07 18:23] blurymind commented on #3
@ivanpopelyshev on the readme, it says that tiled is on the "TODO". Does that mean that pixi-tilemap developers are planning to add built in support for parsing tiled files? This would really help projects like gdevelop in adopting it, as it will reduce the number of dependencies for the feature. Reading tiled files is a key reason we want to use pixi-tilemap, as well as the fact it is under the o

[2019-02-07 18:30] blurymind commented on #57
@Soliaonline this was actually discussed on the gdevelop trello board. If you want to build one, you are not alone :)  We have the same goal! So why not come by and check our repo here:
https://github.com/4ian/GDevelop
try gdevelop5 :) we use pixijs under the hood for both the electron editor and the game engine for rendering.

[2019-02-07 20:10] ivanpopelyshev commented on #3
It means that I'm still didnt use Tiled for any of my games => i didnt make a parser, but i saw several people do it.

[2019-02-07 20:11] ivanpopelyshev commented on #3
wow, first time i see that app. I'll try it next month, i dont have time for it, sorry :)

[2019-02-10 20:24] Soliaonline commented on #57
I built one a while back, but I am trying to optimize things further.  Right now I am working on an Atlas Creator/Editor.  It's not amazing or anything, but it accomplish what I am after.   I feel the way I need it to work is not beneficial for a community because I am not handling anything, but the floor tiles.  No buildings, no trees, only tiles.  My goal is to make something akin to the old sta

[2019-02-10 22:44] ivanpopelyshev commented on #54
the thing is, tilemap doesn't have bounds, and filter requires bounds. If your tilemap is fullscreen, you can just specify `tilemap.filterArea = app.screen` or `tilemap.filterArea=renderer.screen`, and it'll work just fine. Otherwise, create a rectangle with screen coords and set `filterArea` to it.

[2019-02-20 21:39] SET001 opened #59 "pixi.js v5 support"
should I use this with pixi.js v5? Should it work there?
I'm using it as [npm module](https://www.npmjs.com/package/pixi-tilemap) and after switching to v5 I'm getting error

[code]
in this line `PIXI.CanvasRenderer.registerPlugin('tilemap', CanvasTileRenderer)`

Obviously I have imported PIXI in my bundle with `import * as PIXI from 'pixi.js'` but seems like this library require PIXI to be in glo

[2019-02-20 21:42] ivanpopelyshev commented on #59
No, i didnt convert it for v5 yet.

v5 has better Graphics implementation, you can just use beginTextureFill and drawRect to get it working with tiles. Its still has lower performance than this plugin but its much better than collection of sprites.

[2019-02-20 21:45] ivanpopelyshev commented on #59
As for using it as npm with v4, PIXI has to be global or pixi-tilemap cant hack it. Or `pixi-tilemap` has to be included after pixi. I dont use webpack. Its true for all my pixi-plugins.

[2019-02-20 21:45] SET001 commented on #59
also I tried to hack this problem like this

[code]

but then the problem is

[code]

[2019-02-20 21:50] SET001 commented on #59
so `TilingSprite` is not the best way to go with tile-maps?

[2019-02-20 21:59] ivanpopelyshev commented on #59
Its shader is half-way to the shader tojicode published for tilemaps, but no, adding "mod" in fragment shader is a bad idea.

Use TilingSprite if you know how it works and you are sure it fits for your background. You cant change tiles inside TilingSprite, it has only one tile.

[2019-02-20 22:08] SET001 commented on #59
found also this https://codepen.io/goodboydigital/pen/vdvEmE. Is this approach similar to what is used in this library?

[2019-02-20 22:13] ivanpopelyshev commented on #59
Thankfully, no :) That thing has slow fragment shader, its adaptation of old tojicode's demo to pixi. The demo i already mentioned. TilingSprite also uses `mod` operation but only for one tile, that's why I dont recommend to use it unless you know what are you doing.

pixi-tilemap builds static geometry buffer. Graphics does that too. pixi-tilemap doesn't store any objects for tiles, graphics spam

[2019-02-20 22:15] ivanpopelyshev commented on #59
The idea is, if you understand that paragraph, you can build tilemap on ANYTHING: Graphics, pixi-tilemap, even sprites.

Maintain a window around the camera, like 2x of it. If camera hits the side, move the window and refill the tilemap.

If you dont understand, do anything, try anything, after several fails you'll get enough experience to understand the algo. I dont provide code of that algo to p

[2019-02-20 22:20] SET001 commented on #59
thanx, I'll experiment with solution based on Graphics

[2019-02-20 22:22] ivanpopelyshev commented on #59
Just last thing: Graphics wasn't that good in v4, it had a shader switch between Graphics and Sprite and it didnt have texturing inside. If you see my old posts that Graphics is horrible - ignore them.

[2019-03-11 09:29] rkdrnf opened #60 "Is there any limit on addFrame count?"
I'm rendering map of 400 x 400 grid with size of each grid 16 x 16 pixels.
each grid shares single base texture.
each time player moves, I call addFrame for each grid of area around player.
But after certain point, around 18000 call maybe, addFrame does render nothing.

Is there any limits I'm missing?

[2019-03-11 09:50] ivanpopelyshev commented on #60
Yeah, index buffer is 16-bit so its up to 65536 vertices, that means only 16384 tiles because tile is 4 vertices.

The idea is to refill whole tilemap regularly, for example, if you maintain a window size of 2 screens, and camera hits it.

[2019-03-19 12:41] rkdrnf commented on #60
Thank you! I will try that 👍

[2019-03-19 12:41] #60 closed

[2019-04-01 09:44] finscn opened #61 "What does `GraphicsLayer` do ?"
I found there is a class named GraphicsLayer .
But I don't know how to use it .

What does `GraphicsLayer` do ?

[2019-04-01 09:57] ivanpopelyshev commented on #61
Shadows for rpgmaker MV tilemaps, I dont remember in which form.

[2019-04-01 10:39] finscn opened #62 "There is no `@types/pixi-tilemap`."
I wan't create a extension project about pixi-tilemap with ts , but there is no `@types/pixi-tilemap`.

could you add it ,please ?  @ivanpopelyshev

(BTW, the version on npmjs is out of date)

Thanks

[2019-04-01 10:55] finscn commented on #62
I know I could use `.d.ts` file directly , But it's not elegant.

[2019-04-01 11:37] ivanpopelyshev commented on #62
pixi-tilemap already contains d.ts and its referenced in `package.json` file. `@types/` exist only for projects which dont have types in package.json.

[2019-04-03 18:46] finscn opened #63 "What does `TileRenderer.prototype.checkLeaks` do ?"
On my device ( iPhone 8 + wechat ) ,
this method (checkLeaks & removeVb) will make the wechat crash .

What does `TileRenderer.prototype.checkLeaks` do ?
Why remove & destroy the `vb & vao` every 10 seconds ?

[2019-04-03 19:25] ivanpopelyshev commented on #63
destroy unused vb and vao.

Also I'd like your input on https://github.com/pixijs/pixi.js/issues/5559

[2019-04-03 19:57] finscn commented on #63
OK.

And I changed some codes in `RectTileLayer.ts`  :
[code]

[2019-06-16 21:31] ivanpopelyshev commented on #59
Here: https://github.com/pixijs/pixi-tilemap/

[2019-06-19 17:19] dev-zetta opened #66 "Isometric tiles"
Hello there,

not sure if its a dumb question or not, but is it possible to use tilemap to draw a isometric tiles? I have them all in spritesheet/atlas and I draw them manually atm as separate sprites, which is slow.

[2019-06-19 20:27] dev-zetta commented on #66
Awesome, I have them rotated already. Thank you again, Ivan.

[2019-06-19 20:27] #66 closed

[2019-09-05 12:14] andreabertin commented on #59
I had the same issue using it with webpack.
In order to solve it:
1. follow pixijs 5 migration guide (the part for 3rd parties plugin with webpack)
2. use the branch v5, with npm you could declare the dependency as follow: "pixi-tilemap": "git+https://github.com/pixijs/pixi-tilemap#v5"
3. add import statement to the file where you'll use tilemap: import 'pixi-tilemap'

I'm using pixi.js v5.1.2 wit

[2019-09-05 12:35] ivanpopelyshev commented on #59
its already in master. I thought i uploaded it as npm 2.0.0.. well, i forgot, gonna upload both v4 and v5.

[2019-09-05 13:03] andreabertin commented on #59
Great!
My sample works just fine with v2.0.0 from npm, still I need to follow the 3 steps above

[2019-09-05 13:21] ivanpopelyshev commented on #59
For now, there's a universal way to add any of my plugins in pixijs:

[code]

[2019-09-05 13:41] andreabertin commented on #59
Unfortunately you're right..

I prefer using webpack itself for PIXI import since it allows me to skip the PIXI import part, can see it here (https://github.com/andreabertin/pixijs-v5-examples) its still a work in progress so not so clean yet.

Currently I am playing with pixijs (and plugins) to see how well it comes with my needs, I'll let you know for any issue/bug that will arise

[2019-09-17 05:59] finscn opened #69 "Could you add the demo of pixi-tilemap in pixi examples ?"
add the demo of pixi-tilemap to  https://pixijs.io/examples/

[2019-10-12 11:59] SET001 opened #70 "texture size limitation"
is it possible to somehow hack the 1024x1024 texture limitation?
I'm currently using 2048x3040 and the tiles outside 1024x1024 is just ignored.

[2019-10-12 12:51] ivanpopelyshev commented on #70
default mode in current (v5) implementation doesnt depend on that limitation.

As soon as you specify

[code]

RMMV behaviour kicks in and starts combining 4 textures into one big.

There are other constants. Please look at them. In v4x its by default, but you can easily switch it off.

[2019-10-12 12:51] ivanpopelyshev commented on #70
But then, of course, you need to raise number of used texture units.

[2019-10-12 13:08] SET001 commented on #70
well, what I'm trying is to change in atlas frame coordinates to out of 1024x1024 range:

[code]
If I do so, this frames just does not show up. Also, I put `boundCountPerBuffer =4` in the very beginning of index file
[code]
versions used:
[code]

[2019-10-12 13:13] SET001 commented on #70
with
[code]
![sssssssssssaaasd](https://user-images.githubusercontent.com/30506/66701993-37e9c080-ed0b-11e9-9074-7e9e03f2fcf7.png)

and with:
[code]
![sssssssssssaaasd2](https://user-images.githubusercontent.com/30506/66702000-4a63fa00-ed0b-11e9-9b3f-04fa73dfb39c.png)

[2019-10-12 13:17] SET001 commented on #70
this is the tilemap I'm using
![ProjectUtumno_full](https://user-images.githubusercontent.com/30506/66702047-d37b3100-ed0b-11e9-9471-193798d02d9e.png)

[2019-10-12 14:10] ivanpopelyshev commented on #70
Default mode in v5 should work, you dont need that line.

Please make a demo for me, I'll look whats wrong.

[2019-10-12 14:16] ivanpopelyshev commented on #70
This is the line that makes pixi-tilemap work with any textures: https://github.com/pixijs/pixi-tilemap/blob/master/src/Constant.ts#L7

[2019-10-12 14:16] ivanpopelyshev commented on #70
And here is it in build: https://github.com/pixijs/pixi-tilemap/blob/master/dist/pixi-tilemap.js#L206

Well, it seems that I just forgot to publish the build :)

[2019-10-12 14:19] ivanpopelyshev commented on #70
OK, I re-published it in `dist` folder, please take a "new" one. I dont know how did that happen.

[2019-10-12 14:28] ivanpopelyshev commented on #70
А ты ещё на

https://t.me/gamedevforweb
https://t.me/web_gl

не добавлялся? :)

[2019-10-13 01:18] SET001 commented on #70
I have updated to 2.0.1 and it was finally solved when I added
[code]
If I change it to `4` then tiles that are out of 1024x1024 range would again be not visible

[2019-10-17 11:54] #58 closed

[2019-10-20 05:37] djmisterjon opened #71 "Issue rendering hover normal"
I get some strange bug here , but i don't know where to start for fix this!?
Any ideas are welcome.
![normal paralax](https://user-images.githubusercontent.com/24865815/67155248-5d616600-f2d9-11e9-8eff-a7cae97e2dd0.gif)

If i set `normal` alpha 0 to a sprite, when hover the `BG Clouds (TilingSprite)`, it render black !
someone would have an idea of what's going on here and why logically this code

[2019-10-20 08:34] ivanpopelyshev commented on #71
You opened issue in a wrong plugin

Also i dong guarantee anything about blendModes in case you use pixi-lights. Of course if you set normal to 0 any lights will fail, except Ambient. You need to put it under those layers, not to diffuse!

[2019-10-20 09:53] djmisterjon commented on #71
ho sorry , i was think it can be related to tilingSprite.

I mean I'm trying to find a way to allow `sprites diffuse` to fly over the limits of the PIXI application.
![image](https://user-images.githubusercontent.com/24865815/67157668-34eb6300-f2fd-11e9-9fab-ffd115dc96d6.png)
I thought filling the background of the application with tilingsprite would work.

:(  I don't know if i explain well my is

[2019-11-08 06:16] finscn commented on #69
Is there any news ?

[2019-12-04 12:54] ivanpopelyshev commented on #55
OK, now we support rotations both in v5 and v4 versions.

[2020-01-17 21:55] roitto commented on #58
I'm pretty sure someone else will find this issue from Google.

_"How do i make pixi-tilemap tiles clickable?"_

I followed Ivans instructions about how pixi handles interactions and searched the Pixi source code for a bit. _(Which seems to be a good way to get better at using Pixi, i learned a ton of new stuff. :) )_

Then I was able to create interaction support to my tilemap. To make someone el

[2020-02-21 10:43] Fr33maan opened #75 "[QUESTION] Why should I use this plugin ?"
Hi, what is the exact use case of this plugin ?
I'm refactoring my TileMap because it takes too much time to render on lowend mobile device.

I'm now studying a solution which will create 20/25 chunks of tiles (each chunk has a different tiles compositon for some diversity) and cache them as bitmap texture to reduce the amount of updateTransforms.

But I'm studying all solutions and I've found thi

[2020-02-21 10:50] kaansoral commented on #75
I'm wondering this too, basically, I'm wondering things from an algorithmic and performance perspective, why is it better than just manually drawing tiles, or just caching all of them?

My own solution: I only use 3 animation frames, then when a player moves to a new map, I pre-draw the entire map 3 times with a RenderTexture - so everything is pre-cached, maximum performance

[2020-02-21 11:31] ivanpopelyshev commented on #75
My idea is to separate Tilemap to two parts - High-level and Low-level.
High-level can be
1. chunk map ( https://github.com/ivanpopelyshev/bombermine-shuffle , canvas, i didnt port it to this plugin yet)
2. basic window around a camera like in https://github.com/ivanpopelyshev/pixi-starfighter/tree/master/lesson1_5-tilemap and like in RpgMaker MV
3. Anything you imagine

Usually double-FOR to refi

[2020-02-21 11:40] ivanpopelyshev commented on #75
As for "why is it better than RenderTexture", well - for static tiles and if you have enough memory and if you wrote very good memory manager for chunks - its not better, because for both RenderTexture chunks and regular redraw of static vertex buffer the bottleneck will be pixel fillrate.

However, if you add animated tiles - you can write a better plugin based on my code that will be much faster

[2020-02-21 11:45] kaansoral commented on #75
Unrelated to the discussion, I think you should definitely start a Patreon, and maybe an accompanying Discord, I really appreciate all the work you put in to Pixi - Forgive me if you are not interested in it at all, but I'm sure many people would like to support your work and maybe additionally commission features - We'd also more easily give feedback

[2020-02-21 11:59] ivanpopelyshev commented on #75
Thank you for kind words!

Dont worry about patreon, we started https://opencollective.com/pixijs and several companies are agreed to sponsor us. 6 months ago. We still are waiting when they pledge :) For now almost all money you see on opencollective are from my clients.

I thought about ways to get some personal budget - I can see it only by selling cheap tools or making my own game like I had b

[2020-02-21 12:09] ivanpopelyshev commented on #75
@Fr33maan

I like the concept of your game. I wanted to make something like that before, but I'm too depressed to start. The probability that such project will get big audience is very low, but people should not stop trying it :)

I made MMO game with big maps before - back in 2013 i had thousands players online, ~1k-2k on the same map , here: http://gameofbombs.com/

[2020-02-21 12:34] kaansoral commented on #75
Honestly you shouldn't put that much pressure on yourself, we asses ourselves really harshly, even if you just add 1-2 changes every month, post 1-2 times, it would be enough - anything else would be a bonus, and from all your help to everyone, I know you'd help more

I forgot what, but I was going to support Pixi on Patreon, then something triggered me, I only supported $1 symbolically, to increa

[2020-02-21 12:47] ivanpopelyshev commented on #75
Plugins are glimpse to the future of PixiJS. Even `pixi-layers` is very specific, not many people use it, only those who have experience with layering and implemented things manually.

1$ for collective is enough for now, we need a the crowd. For later - we have a idea of bounty system - I think I can ask guys to add plugin support to it, I will refer to your post :)

I can write many more plugins

[2020-02-23 12:43] blurymind opened #76 "Trying to implement tmx parsing for gdevelop - need help on animated tiles"
Hi, I am one of the devs on gdevelop and we are currently looking into adding support for tilemaps and specifically for tiled tile support

I understand that this is a "in progress" feature on this project and I was wondering if you have made any progress on it.
I couldn't find any test branches or commits trying to add tmx parsing.

Currently we are trying to evaluate whether to use this  library

[2020-02-23 12:52] ivanpopelyshev commented on #76
You're right on point.

I coded it for RpgMaker MV which had only water animation and waterfall animation. I did not even think about tiled animations.

In v5 you can easily write your own mesh generator, either by modifying pixi-tilemap either by using https://pixijs.io/examples/#/mesh-and-shaders/triangle-textured.js + your own multitexture algorithm.

Unfortunately, I'm taking a break for pixi

[2020-02-23 12:56] ivanpopelyshev commented on #76
^^^ comment was updated.

[2020-02-23 12:57] ivanpopelyshev commented on #76
Check your gmail for slack invitation

[2020-02-23 12:58] blurymind commented on #76
Thank you for clarifying and for the invite. On that I will try to put up my example project today with hope that others here will hop on it and help me fix it.

I tried using pixi's animatedsprite class for animated tiles, but it ends up being outside of the tilemap and their zorder is wrong
![zOrdering](https://user-images.githubusercontent.com/6495061/75111978-6374a400-5637-11ea-8e6a-16055a807c

[2020-02-23 13:00] ivanpopelyshev commented on #76
I just hope you are patient enough :) That "issue" exists for 4 years: https://github.com/pixijs/pixi-tilemap/issues/3 , I just didnt have a person who could help me with setting up everything ;)

[2020-02-23 19:10] eXponenta commented on #76
@blurymind why you use TMX when Tiled support json for export/import?
I implement naive importer based on json
https://exponenta.github.io/pixi-tiled/demo/tilemap.html

[2020-02-23 20:57] blurymind commented on #76
@eXponenta is your importer using pixi-tilemap for rendering? If so does it support animated tiles?  I am using json file format for my implementation too

[2020-02-24 10:22] blurymind commented on #76
@ivanpopelyshev is there a way to have one animated tile have a different number of frames from another animated tile? How does one manage incrementing frame number of each animated tile within the limits of that tile's frame length?

[2020-02-24 11:01] ivanpopelyshev commented on #76
You've got it, its exactly that. If you want something else - please explain it in detail, we can discuss it, though i will only be able to code it in march-april

[2020-02-24 11:06] ivanpopelyshev commented on #76
According to @englercj gl-tiled has animated tiles support, maybe you can use it for now https://www.html5gamedevs.com/topic/44753-tile-rendering-performance/?do=findComment&comment=248820 . Though I'm not sure about performance of that shader on slow devices.

[2020-02-24 12:34] blurymind commented on #76
@ivanpopelyshev thank you for confirming. Do you think I could apply some simple way to clamp a tile's frame cycle? Like for example if we could pass an extra couple of parameters to addFrame like so
`        groundTiles.addFrame(texture, x, y, animateX, animateY, animateXClip, animateYClip);
`
If animateX is greater than animateXClip- set animateX to 0

[2020-02-24 12:39] ivanpopelyshev commented on #76
That might be good idea, we can pass it to vertex shader and do a division there.

Oh, i forgot that gl-tiled is not a pixi plugin :(

[2020-02-24 12:59] blurymind commented on #76
Is that something that has to happen in
https://github.com/pixijs/pixi-tilemap/blob/f94fb15af88b12f8dcb78881ff5a7f13f0f868ea/src/RectTileLayer.ts#L41

Yes unfortunately. It would be nice if we can get pixi-tilemap to the same level though :)

[2020-02-24 19:24] blurymind commented on #76
ah I spoke too early, I will indeed have to pass it to the shader somehow - trying to figure out how atm.
Might do a PR if I manage to get it working

[2020-02-24 21:19] ivanpopelyshev commented on #76
In the same values as animX and animY, i suppose :) I can do it tomorrow

[2020-02-24 23:16] blurymind commented on #76
I managed  to almost pass it to the shader, but when i try
`                .addAttribute(vb, this.attributes.aFramesX, gl.FLOAT, false, this.stride, 14 * 4);
`

I get an error
[code]
So now I am scratching my head over where is this.attributes

[2020-02-25 09:50] ivanpopelyshev commented on #76
`aAnim * mod(animationFrame, vec2(aFramesX, aFramesY))`

also dont forget about a case where aFramesX or aFramesY is zero, default mode that pixi-tilemap works

[2020-02-25 10:07] blurymind commented on #76
I can do a PR for the mod hack if you like :)

[2020-02-25 19:29] blurymind commented on #76
I created a pr to the pixi4 branch due to pixi4 being currently used by gdevelop
https://github.com/pixijs/pixi-tilemap/pull/77

if the PR gets merged, I will cherrypick and refactor (if needed) and do a PR for master branch (pixi5)

[2020-02-26 23:15] blurymind commented on #76
@eXponenta we will review using your library VS using pixi-tilemap and a bunch of other libraries that do this for gdevelop soon.

I plan to release a demo pixi project that compares them and having other devs help me decide.
To be fair if you plan to add pixi-tilemap renderer to it,you will encounter the exact same issues with animated tiles as me. I already made a parser that sorts out all the o

[2020-03-05 13:20] borisblizzard opened #78 "Glitches with boundCountPerBuffer: 1"
When using boundCountPerBuffer: 1 (using maxTextures: 1 can help the reproduction be 100%) and the tilemap textures aren't the same size, glitches start to occur. I was able to track down the issue and fix it by adding this line at the end of TileRenderer.bindTexturesWithoutRT:

`renderer.shader.bind(shader, false);`

The issue seems to be related to how CompositeTileRectLayer renders TileRectLaye

[2020-03-05 14:26] ivanpopelyshev commented on #78
First time I hear that. Yes, please reproduce it and I'll fix it.

[2020-03-05 14:27] ivanpopelyshev commented on #78
Oh, wait, you already have a fix. Yes, I understand what the problem is, i'll apply your fix soon :)

[2020-03-05 14:33] ivanpopelyshev commented on #78
OK, can you check the version in this repo in `dist` folder? if it works for you, I'll publish it in npm as 2.0.6

[2020-03-05 14:36] borisblizzard commented on #78
Yup, your variant of the fix works as well.

[2020-03-05 14:40] borisblizzard commented on #78
Actually wait, it seems that your variant doesn't seem to work in all cases for some reason. Not sure why.

[2020-03-05 16:53] ivanpopelyshev commented on #78
OK, published.

[2020-03-05 17:07] ivanpopelyshev commented on #78
I moved that line after all uniforms are set. Its a thing for v5 - need to bind shader to update them.

https://github.com/pixijs/pixi-tilemap/commit/9c8229b646b408d4dd51414dbc340edd8511e614#diff-a7f7a167801670fe73489ec251aad5b7L176-R189

[2020-03-05 17:36] #78 closed

[2020-04-12 23:00] Jarred-Sumner commented on #7
Some android devices use pixel ratios like `2.5` or `3.5`

[2020-04-12 23:06] ivanpopelyshev commented on #7
Does it still not work?

[2020-04-12 23:07] Jarred-Sumner commented on #7
I'm not actually sure, I was just reading through the open issues on this repo

[2020-04-17 22:15] spassvogel opened #81 "Npm module"
Hi, great work on this plugin. I do have a question, or a request rather. These days most people don't import javascript via <script> tags anymore, instead it turns out it's much more convenient to import npm packages. I was wondering if we could import `pixi-tilemap` in a similar manner. Thanks!

[2020-04-17 23:01] ivanpopelyshev commented on #81
Its not convinient for libraries and plugins developers. We cant just drop vanilla js, and generating module output at the same time with typescvript definition is very hard task and no one solved it so far.

Many features are missing in typecsript modules, like I just cant merge extra field in class in pixi.

We are making progress with it in main pixi repo. and this year we'll convert all plugin

[2020-04-18 00:05] ivanpopelyshev commented on #81
Yes, it will be solved in the end, but right now it takes our whole team to figure out how to satisfy everyone :)

[2020-04-18 00:47] spassvogel commented on #81
Hi Ivan thanks for your response. Great the team is working on it in the main pixi repo.
In the mean time I will use your workaround.

[2020-04-25 19:23] spassvogel opened #82 "Isometric view"
I'm trying to figure out if this plugin would be good to use for isometric projects. I'm guessing that in principle it's possible to use, we just have to calculate the position of each tile properly.

But then how to deal with z-axis occlusion?

[2020-04-25 20:21] ivanpopelyshev commented on #82
pixi-tilemap is low-level lib, not something that dictates you coords. It only implements "fill tilemap, clear before refill" idea. No buffer reuploaded needed between refills.

You have to do it anyway because pixi is not a engine/framework. You have to decide which isometric coord you want. I recomment to look through those topics: https://www.html5gamedevs.com/search/?q=isometry&quick=1&type=fo

[2020-04-28 19:04] jessebraham opened #83 "Flipping tiles on an axis?"
[Tiled](https://www.mapeditor.org/) allows you to flip tiles along either or both of the `x` and `y` axes. Parsing the map file and identifying flipped tiles was trivial, however I'm not seeing any method of rendering the tile on a `CompositeRectTileLayer` with the transform(s) applied. Is there currently any way to accomplish this?

[2020-04-28 19:11] ivanpopelyshev commented on #83
It works both in v4 and v5: https://github.com/pixijs/pixi-tilemap/blob/master/demo/basic.js#L74

https://pixijs.io/examples/#/textures/texture-rotate.js

[2020-04-28 19:22] jessebraham commented on #83
Gotcha, thanks. I had my mind set on "flip" and didn't think to read "rotate".

[2020-04-28 19:22] #83 closed

[2020-04-28 19:33] ivanpopelyshev commented on #83
Yes, I just have enough math knowledge to realize its the same thing basically :) Strange that it doesnt exist in other renderers.

[2020-04-30 09:50] spassvogel commented on #82
Yeah the coordinate thing is not the tricky part I think. The z-index is much more complicated. I'm guessing you would sort this out in the shader, right? But then you have a player sprite, enemies, etc walking around the map they would have to be affected by the z-index too.

I havent started experimenting with isometric yet, mainly because I'm not sure if it's smart to use pixi-tilemap here or m

[2020-04-30 10:02] ivanpopelyshev commented on #82
z-index on shader in 2d is a problemon its own.

No, i solve it with correct sorting of elements.

[2020-04-30 10:02] ivanpopelyshev commented on #82
Yes, you can start with old-school sprites then switch to pixi-tilemap when you figure out all coords stuff :)

[2020-05-09 14:57] JoseExposito commented on #59
Hi,

First at all, thank you very much for your work in this project @ivanpopelyshev. It is a great plugin and you've done an amazing work so far.

I'd like to ask if there are plans to migrate this plugin to PIXI v5 any time soon.

If not, would you recommend us to use `beginTextureFill` and a couple of for loops in the meanwhile? I'm afraid about performance in low end devices...

Thank you very

[2020-05-09 15:11] ivanpopelyshev commented on #59
pixi-tilemap works with v5 :)

[2020-05-09 15:51] JoseExposito commented on #59
Hi @ivanpopelyshev ,

Thank you very much for you quick answer.

I'm having the problems described in this issue trying to integrate pixi-tilemap in my webpack project:

`Uncaught ReferenceError: PIXI is not defined`. `window.PIXI = PIXI` doesn't seem to do the trick.

I'm using create-react-app (https://github.com/facebook/create-react-app) as a boilerplate and PIXI in some bits of my web. I gues

[2020-05-09 16:47] ivanpopelyshev commented on #59
I did not put it in this plugin however this soilution exists in all plugins:
you have to ensure that pixi-tilemap is loaded after PIXI is in window.

[code]

Alternative: make special webpack config that provides pixi as global thing. I lost the example.

[2020-05-14 18:42] JoseExposito opened #85 "(Feature request) Allow an array of animations"
Hi!

First at all, fantastic project. Thanks a lot for your work.

I'm building a Tiled (TMX) based small game and I'm using pixi-tilemap as renderer. I hope I'll be able to release the Tiled wrapper as a package soon.

I'm implementing animations and I'm facing an issue with the way Tiled allows to create them.
Long story short, Tiled gives you the flexibility to attach to any tile an animation t

[2020-05-14 20:15] ivanpopelyshev commented on #85
the discussion was here: https://github.com/pixijs/pixi-tilemap/issues/76
you can have as many frames as you want, but they have to be consequtive X or Y coords, cant just take random frames
we need special shader that takes extra info from uniforms, its not that easy - i just dont have time to make this experiment  because there are 10 other pixi plugins im working on

[2020-05-15 07:16] JoseExposito commented on #85
Wow, that's a lot of code to maintain! Actually it is not that big of a limitation, if that much work is involved it doesn't worth it.

Thanks again!

[2020-05-15 07:16] #85 closed

[2020-06-02 23:11] eranimo commented on #81
That workaround doesn't work with typescript

[2020-06-02 23:18] ivanpopelyshev commented on #81
It works for me in typecript.

[code]

typings are also global, you have to use `PIXI.tilemap`

[2020-06-02 23:41] eranimo opened #86 "Tile offset support"
Does pixi-tilemap support tilemaps with an offset? I have a tileset that is 32x48 but renders into a hexagon grid of 32*32 with a 2px offset.

Rendering an entire tilemap works, but as soon as I try to update a single tile, it renders it above its neighbor tiles, showing the offsetted parts of the tilemap tile.

Essentially, I need layer sort ordering.

[2020-06-02 23:59] ivanpopelyshev commented on #86
tilemap is made for "clear & refill" approach. Usually map is separated to many chunks, each of those are completely recalculated once something was changed inside.

You tried to redraw tile above itself :)

[2020-06-03 14:32] eranimo commented on #86
The problem I'm currently facing is that since I'm using a hexagon tilemap, and tiles can overlap their neighbors slightly, the hexes on the edge of chunks overlap. How do I support that?

[2020-06-03 14:42] ivanpopelyshev commented on #86
Its about math and algorithms, not a low-level solution :)

You use diamond tiles in isometry, right? Make your chunks also diamonds, and follow the same order you usually fill the map.

You can even figure out extra trick of how to cut geometry using 45 degree rotations of texture: https://pixijs.io/examples/#/textures/texture-rotate.js , without actually modifying your textures.

Those things re

[2020-06-03 14:52] eranimo commented on #86
What does texture rotation have to do with this? Why does the chunk have to be diamond shaped (and not rectangular?)

[2020-06-03 15:12] ivanpopelyshev commented on #86
Order i which tiles are drawn is important. If you make correct order inside chunks and order of chunks inside map, you'll get your overlaps correct.

If you cant imagine what order of tiles in map will give that to you - sorry, there's no way to do that in any renderer, whether its canvas2d , webgl-based or whatever.

Texture rotation is extra trick to cut half of geometry, dont bother with it ye

[2020-06-03 15:21] eranimo commented on #86
Given that I have a rectangular map, I don't think diamond shaped chunks would work. Also, I have flat-topped hexagons. Is that a problem here?

[2020-06-03 15:46] ivanpopelyshev commented on #86
oh, hexagons.. sorry :)

so you cant make them square because of same reason - at the left and right sides it has "tooth". but you can make parallelograms or hexes.

First try to refill whole visible culled part of map, then make chunks. Difficulty depends on your coordinate system.

![image](https://user-images.githubusercontent.com/695831/83658154-7dc10500-a5ca-11ea-80b5-0c7b49a16c53.png)

[2020-06-03 16:04] eranimo commented on #86
Thank you for the visualization and answering questions, it's been a great help. I still don't quite understand how having the chunks in this shape changes anything. It seems that the problem is still that the chunk has a single layer, but each hex on the chunk edge needs to "interweave" with hexes in the other chunks (since I have flat topped hexagons the top left, top, and top right of each hexa

[2020-06-03 18:08] ivanpopelyshev commented on #86
look around one hex.If you draw naively, top hexes and left hex is under it, right?

If you use chunks like I drawn, that invariant wont be broken, there's no teeth.

[2020-06-03 18:10] ivanpopelyshev commented on #86
Maybe its your time to draw?

[2020-06-03 20:39] eranimo commented on #86
Should every chunk be its own `CompositeRectTileLayer` instance?

[2020-06-03 20:54] ivanpopelyshev commented on #86
yes, that's the point. You can clear & refill them independently. Each one means one webgl drawcall (every frame), one vertex buffer upload (when its changed).

Refill is just double-For that can also check for autotiles if you have them.

[2020-06-03 21:49] eranimo commented on #86
Got it. So I've tried with square chunks (I have a rectangular map, not sure how to have any other shape) Map size is 150x100, with 10x10 chunks.

This is what the edges of the chunks look like:

<img width="527" alt="Screen Shot 2020-06-03 at 5 39 10 PM" src="https://user-images.githubusercontent.com/2599464/83692323-c3c59b00-a5c1-11ea-9845-28330119f671.png">
Right below the black edge you can se

[2020-06-03 22:10] ivanpopelyshev commented on #86
Show me one chunk

[2020-06-03 22:36] eranimo commented on #86
<img width="285" alt="Screen Shot 2020-06-03 at 6 36 02 PM" src="https://user-images.githubusercontent.com/2599464/83695908-1a82a300-a5c9-11ea-85ef-ea4ab7879259.png">

[2020-06-03 22:41] ivanpopelyshev commented on #86
Make it the way I shown several comments ago :)

Yes you'll have a bit of a problem depending on your coordinate system.

[2020-06-03 23:09] eranimo commented on #86
How do I decide what zIndex to put each chunk? I don't quite understand why rectangular chunks are an issue, given that I'm having a problem with the side that isn't "tooth" shaped. I can explore a parallelogram shape but I'll need irregular chunk shapes to make the map square again, which would have the same issue with overlap.

[2020-06-03 23:55] ivanpopelyshev commented on #86
I love those kind of problems. Abstract ones. When you just have to meditate on words or draw some shapes to understand and solve them :)

I dont know which coord system you use, and I dont want to talk about system I use because that's not important in the case.

Imagine you have a map. You separate it into chunks: for every tile you specify number of chunk it belongs. Whether its formulae or its

[2020-06-04 00:19] ivanpopelyshev commented on #86
I will be happy to help my fellow major of CS tomorrow, probably make a demo out of generated textures to show both your and mine version of chunks.

We all have blind spots from time to time :)

[2020-06-04 15:50] eranimo commented on #86
I just tried with parallelogram chunks and it has the same issue with the right-side overlapping. Like I said, I think the issue is how I'm determining the zIndex of the chunk. Yes, a hexagon tilemap example would be great for others benefit as well.

[2020-06-04 15:51] ivanpopelyshev commented on #86
you have to determine zIndex of chunk the same way you determined it for individual tiles, then it should work.

[2020-06-04 16:47] eranimo commented on #86
I'm ordering hexes by their y coordinates (using the [odd-q coordinate system](https://www.redblobgames.com/grids/hexagons/#wraparound)), and I'm ordering chunks the same way. I've also tried layering chunks by the lowest and highest hexes in the chunk, nothing has worked.

[2020-06-04 18:24] ivanpopelyshev commented on #86
Here it is.

https://www.pixiplayground.com/#/edit/qPQyCCuYWy7LGyYdB4uyj

Do you see artifacts at the right side?

[2020-06-04 18:28] eranimo commented on #86
Thank you, that's a great help.

[2020-06-04 18:33] ivanpopelyshev commented on #86
I made it for you to believe in math again! after all those angular projects. I know they produce jelly out of brains :) Honestly, I'm glad to have R&D as my primary job and not a hobby :)

[2020-07-11 23:34] spassvogel opened #89 "What are the bitmaps for"
PIXI.tilemap.CompositeRectTileLayer has a second constructor parameter named ` bitmaps?: PIXI.Texture[] `. However I have found that it is completely optional, if I dont provide anything there and pass a texture to addFrame it works. I don't really understand what this bitmaps is used for..

[2020-07-11 23:38] ivanpopelyshev commented on #89
usually its not important. It was made before we had `addFrame` that has auto-search of baseTexture in array and adds stuff automagically.

Only in really hecked-up cases you have to fill it with textures of different baseTexture's to specify the exact order in texture array.

[2020-07-12 10:39] spassvogel commented on #89
I see. So does that mean that this info in the readme.md is also not relevant anymore?

<img width="877" alt="image" src="https://user-images.githubusercontent.com/985892/87244333-c2975180-c43c-11ea-8123-8a6ca881211c.png">

[2020-07-12 12:08] ivanpopelyshev commented on #89
Oh its relevant! Its so relevant, people stumble across it very often.

There are devices that dont have 16 texture locations.

Now, imagine, someone wants it all automatic, default v5 mode - 16 textures. He encounters devices that doesnt have it.

Imagine that I make by default maxTextures 4 with packing (4 textures to 1) - someone will try big textures on it and it wont work

[2020-08-02 13:11] blurymind opened #92 "Request - support for compiling as an UMD module + support for pixijs-legacy"
Hi everyone, basically I am on a quest to get pixi-tilemap to become a first class object inside gdevelop, but after we migrated to Pixi5, a new technical hurdle has been encountered.
Gdevelop now requires from the library the ability to function as a UMD module.
https://github.com/4ian/GDevelop/issues/503#issuecomment-667599003

What does that mean?
https://riptutorial.com/javascript/example/1633

[2020-08-02 15:39] ivanpopelyshev commented on #92
So many times I told for all my pluigins: make a PR, I'll accept it.
Make sure it generates correct TS definitions both for vanilla.

AMD/UMD i honestly dont care, im a mathematician, I use whatever other people make for me.

[2020-08-06 18:18] blurymind commented on #92
I will look into it

[2020-08-09 12:44] TomTheFurry opened #93 "Request for References / documentation of tilemaps"
I'm trying to understand how rpgMakerMV works/ renders, and come across this lib. And while the code is not too long to read through, I believe that there should still be an documentation if at least what functions/methods does what by looking up a reference.

I'm sorry if there's already a references/ documentations of this tilemap plugin/lib, but I could not find it. Note that I'm not saying the

[2020-08-09 12:48] ivanpopelyshev commented on #93
The lib was made for RMMV and then re-used in many projects. Its a low-level algo, its not tied to any of editors or formats. The "window around camera" optimization exists only in rpgmaker demo, in all other cases you have to make your own high-level algo that is using the plugin.

Unfortunately, I do not have time, and I will not have time to document it. I leave those kind of things to communit

[2020-08-12 18:50] blurymind commented on #92
submitted a PR now - currently testing it inside gdevelop

[2020-08-21 08:49] blurymind commented on #92
closing this issue now since a umd build has been merged

[2020-08-21 08:49] #92 closed

[2020-08-21 08:52] blurymind opened #97 "UMD module build does not have a requirejs export"
Currently the UMD module that is built is not really a complete UMD module.
 it will work without issue in the browser, but I see no "require" at all that would make it compatible with
"CommonJS" and so it's possibly not loaded properly in Electron.

ttps://www.davidbcalhoun.com/2014/what-is-amd-commonjs-and-umd/

This is needed for pixi-tilemap to work in gdevelop
https://github.com/4ian/GDevelop

[2020-08-25 04:44] m0dE opened #98 "Demos not working"
Browser's throwing:

main.js:104 Uncaught TypeError: Cannot read property 'flush' of undefined
    at update (main.js:104)
update @ main.js:104

I use Chrome

[2020-08-25 08:54] ivanpopelyshev commented on #98
Thank you ! The thing is, I use this demo with "pixijs.download/dev/pixi.js" which is latest dev. It means guys broke something in dev again. It should work if you copy the demo and use with latest stable :)

I'll look what did they break today or tomorrow.

[2020-08-25 08:55] ivanpopelyshev commented on #98
Oh, its broken only for Canvas2d mode.

[2020-08-25 16:57] SukantPal commented on #97
I'm afraid that pixi.js itself doesn't output to UMD, however.

[2020-08-25 16:58] SukantPal commented on #97
@4ian Why aren't you using CommonJS for Electron instead of UMD?

[2020-08-25 17:54] 4ian commented on #97
We are, but I figured out UMD would be convenient as it's for example what is used for [pixi-multistyle-text](https://github.com/tleunen/pixi-multistyle-text) (see the [generated file here](https://github.com/4ian/GDevelop/blob/master/Extensions/BBText/pixi-multistyle-text/dist/pixi-multistyle-text.umd.js)) and it has the advantage of working:
- In Electron (we "just" `require` it, and get back `M

[2020-08-25 17:56] SukantPal commented on #97
@4ian I would suggest you file an issue at pixijs/pixi.js and ping @bigtimebuddy. He said he was open to it - but nobody asked for this until you. The pixi.js bundle, as of now, is in IIFE format.

On Aug 25, 2020, at 1:54 PM, Florian Rival <notifications@github.com<mailto:notifications@github.com>> wrote:

We are, but I figured out UMD would be convenient as it's for example what is used for pixi

[2020-08-25 18:10] 4ian commented on #97
Ah I see, I was assuming it was UMD/CommonJS as it can be properly `require`d when installed from npm.

This being said, I see that now the umd output seems to be properly a UMD module: https://github.com/pixijs/pixi-tilemap/blob/master/dist/pixi-tilemap.umd.js since your commit  https://github.com/pixijs/pixi-tilemap/commit/9c9c1c73424b27bb2b5b053d6fe0208037ba2c20 to use `@pixi-build-tools/rollup

[2020-08-27 09:35] blurymind commented on #97
I will give this another try in gdevelop when I get some time :)

[2020-08-27 09:41] ivanpopelyshev commented on #97
All done, please try again.

UMD link is correct.
Require and ESM builds are in npm.

[2020-08-29 15:42] NintendoBen opened #102 "index.d.ts is not bundled with pixi-tilemap 2.1.0"
It looks like the typescript definitions (index.d.ts) aren't included with the pixi-tilemap 2.1.0 bundle

![image](https://user-images.githubusercontent.com/639975/91640482-e8c48100-e9eb-11ea-911d-4a244da2bb84.png)

I tried to manually inject them just to test things out and there seems to be some sort of resolution issue with pixi.js (which could totally be my own configuration issue! Just not 10

[2020-08-29 16:39] 4ian commented on #97
Seems like there is still an extra line at the end of the UMD module:
https://github.com/pixijs/pixi-tilemap/blob/2b7fb150cc867da88bc1631d163f71c9b3b54190/dist/pixi-tilemap.umd.js#L961

Apart from that, seems like a working module :)

[2020-08-29 16:42] SukantPal commented on #97
I don’t think that line will be removed. All PixiJS plugins are supposed to insert their API into a namespace, which is PIXI.tilemap here. You can see this for all @pixi/, pixi.js, pixi.js-legacy bundles as well. The global for pixi-tilemap isn’t pixi_tilemap, rather is PIXI.tilemap!

https://github.com/SukantPal/pixi-build-tools/blob/9942761ab8873bae2ed1d1bcc809addd8194d893/packages/globals/plugi

[2020-08-29 16:49] 4ian commented on #97
Sorry I edited my message after you answered :)
This line is problematic because it's not working when requiring this module as CommonJS: pixi_tilemap is not defined in this context, because we're outside the function embedding the library.

I understand that plugins will register themselves into PIXI, here in `PIXI.tilemap`, but currently this is erroring because the global variable `pixi_tilemap

[2020-08-29 17:54] NintendoBen commented on #102
I think the problem I'm having is just the nature of TypeScript not working well with the existing pixi plugin architecture which benefits from JavaScript's flexibility. I'll probably just have to find a way to make TypeScript happy 😄

[2020-08-29 18:29] NintendoBen commented on #102
As a temporary workaround, I created a copy of the pixi-tilemap.d.ts type definitions in my own source/types and retargeted the @pixi module imports to point at "pixi.js" instead and smoothed out a couple warnings here and there like changing "String" to "string", etc... So far things seem to be working ok!

[2020-08-29 21:41] bpkennedy commented on #97
Can confirm that the 2.1.1 npm package simply isn't exporting the library correctly.  I rolled back to npm version 2.0.6 and it does works correctly.

[2020-08-29 21:44] SukantPal commented on #97
@4ian Should it then be

[code]

[2020-08-29 21:57] SukantPal commented on #97
@bpkennedy If you are using import/export, you now simply

[code]

directly.

[2020-08-30 00:00] 4ian commented on #97
There seems to be two problems:
1. The one highlighted by @bpkennedy: a global object called `PIXI` is still required. This is because there are still references to "PIXI" in the generated UMD module - which seems like mistakes/forgotten references. One example:

In the UMD build:
https://github.com/pixijs/pixi-tilemap/blob/430adfc6f186f1bdaa55cccd7f5ce4a69570dabf/dist/pixi-tilemap.umd.js#L49
this

[2020-08-30 00:15] ivanpopelyshev commented on #97
OK, I removed `PIXI.xxx` references, 2.1.2 , please try again.

[2020-08-30 00:22] SukantPal commented on #97
@4ian The whole point of importing from `@pixi/` modules is so that we don't have a dependency on the `pixi.js` bundle.

I think a better solution would be to check if `pixi_tilemap` exists (which means it is in a browser):

[code]

Note that `this.PIXI.tilemap` is ensured to be defined in the beginning of the file.

[2020-08-30 00:35] 4ian commented on #97
Thanks! 👍
I can still see 2 `PIXI.CanvasRenderer`, and 1 `PIXI.utils.createIndicesForQuads`, should they be replaced too?

Ah I see! Forget about it then.

Yeah that seems fair and way less complicated than my `global` stuff.
Let's go ahead with this, I don't see any reason why it would not work with this extra guard.

I guess we should also surely remove what is done in exporter.ts? It's assignin

[2020-08-30 20:48] SukantPal commented on #102
@NintendoBen This will be fixed in the next release of pixi.js (pixijs/pixi.js). Each scoped @pixi/ package will ship with its own typings.

[2020-08-30 23:17] SukantPal commented on #102
@NintendoBen Here's the PR btw: https://github.com/pixijs/pixi.js/pull/6849

[2020-08-30 23:34] NintendoBen commented on #102
Thanks for the info @SukantPal ! 😁

That will definitely solve the pixi type definition issue(s), but I think that the pixi-tilemap definitions will still be missing until they get bundled within the pixi-tilemap npm package root? Unless I’m missing something - I don’t consider myself a TypeScript expert!

[2020-08-30 23:35] SukantPal commented on #102
Wait, the index.d.ts file isn't in the shipped npm package?

[2020-08-30 23:36] NintendoBen commented on #102
That’s right I believe 😅

[2020-08-30 23:38] SukantPal commented on #102
https://github.com/pixijs/pixi-tilemap/blob/master/index.d.ts

How could that be? @ivanpopelyshev ^^

[2020-08-30 23:39] SukantPal commented on #102
@NintendoBen Dod you figure out why the index.d.ts is missing?

[2020-08-30 23:41] NintendoBen commented on #102
I’m not sure to be honest - just running npm install, it seems like the index.d.ts file doesn’t exist in the node_modules/pixi-tilemap folder. I’m not that familiar with the npm package publish process, so I’m not sure what could be going wrong.

[2020-08-30 23:57] SukantPal commented on #102
@NintendoBen 2.1.3 was just released, can you try again?

[2020-08-31 00:28] NintendoBen commented on #102
Will do - I’ll try it shortly 😊

[2020-08-31 02:00] NintendoBen commented on #102
@SukantPal - looks like the index.d.ts file is included now! When I swap out my custom pixi-tilemap.d.ts definitions with the bundled pixi-tilemap/index.d.ts definitions, they're now picked up automatically by Visual Studio Code. The next trick will be to have the @pixi package typings generated and included 😄

Thanks for responding so quickly to this 😁

[2020-09-01 12:05] #102 closed

[2020-09-01 12:06] SukantPal commented on #97
@4ian We should be done here?

[2020-09-01 17:13] blurymind commented on #97
@ivanpopelyshev @4ian @SukantPal  thanks everyone for getting involved :) with your help pixi-tilemap is getting closer to be a part of gdevelop.

I will soon be able to also confirm it works ok on the web version of gdevelop

[2020-09-01 18:16] 4ian commented on #97
Thanks all!
Though @blurymind could you be able to try the updated library (replace it, then re-run `npm start` or at least `npm run import-resources`)? I'm still worried of:
[code]

throwing an undefined reference to pixi_tilemap when used in Electron (despite the guard).
If it's working well with the UMD file as is, we can close the issue, just want to double check that.

[2020-09-01 21:29] spassvogel commented on #97
I used to be able to

[code]

and then
`const tileLayer = new window.PIXI.tilemap.CompositeRectTileLayer();`

in a typescript project. That doesn't work anymore.

I tried to `import { RectTileLayer } from 'pixi-tilemap'`. That compiles, but it doesn't render anything :( I'm using 2.1.3.

[2020-09-02 13:02] bpkennedy commented on #11
Hello, I know it's been a few years since this issue, but I see this library is still being maintained.  However, the documentation really could use an update to clarify that bit about pixi doing a bit of "magic" for the atlas_image thing.  I spent probably a few hours looking at docs, example implementations, etc before I happened upon this issue and now understand.  Pixi is new, altogether, for

[2020-09-02 13:20] ivanpopelyshev commented on #11
In v5 there's even special behaviour - if "atlas_image" already added, it wont be added second time.

OK, moved it to issue in main repo. I'm not the docs guy and spritesheets is not my area.

[2020-09-06 21:06] SukantPal commented on #97
@spassvogel Can you give us a reproduction? Are there any errors being thrown? Also, be sure to check if pixi-tilemap is not getting its own copy of `@pixi/core` (or any other pixi package).

[2020-09-06 21:47] spassvogel commented on #97
No errors. just nothing rendered.

How would I see that?

Yes okay I can set up a test project

[2020-09-06 21:48] SukantPal commented on #97
@spassvogel You can see if pixi-tilemap gets its own copy by: opening node_modules/pixi-tilemap/node_modules and see if there is a @pixi package there.

[2020-09-06 22:21] spassvogel commented on #97
Well I tried to create an isolated case but typescript is complaining about missing typedefs
[code]
However these packages dont exist..

https://github.com/spassvogel/pixi-tilemap-test

[2020-10-06 05:28] SirJosh3917 opened #104 "Import `PIXI` instead of requiring it to exist globally."
When including `pixi-tilemap` in a bundle, being forced to make sure that `pixi,js` is included before `pixi-tilemap` is very prone to errors. For me, my IDE automatically reorders the imports to be in reverse order, which would cause problems in the future. Whilst easily work-aroundable, it would be very nice if pixi-tilemap would not implicitly rely on the `PIXI` global existing, and rather impo

[2020-11-09 00:21] eranimo commented on #104
This is currently breaking the latest version of pixi-tilemap

[2020-11-09 00:43] ivanpopelyshev commented on #104
@eranimo please elaborate, whats wrong there? i still cant figure out how to make all those modules

[2020-11-16 17:10] martinemmert commented on #104
I think the package needs a bit of love to support the ES6 module system and CommonJS projects.
It is possible by having a correct set-up project and a package.json containing a proper `exports` config.

I am currently struggling with this issue as well, and there are many pitfalls regarding that. I might come up with a pull-request to solve that. But I cannot guarantee that old projects still wor

[2020-11-16 18:01] ivanpopelyshev commented on #104
we are experimenting with pixi-tilemap, and new pixi.js 5.4 rc1 , im waiting for rc2. When one plugin will be ready - i'll move everything else

[2020-11-16 18:09] martinemmert commented on #104
Hm, I've yet to see a mixin solution that brings something good to the table.
Care to share?

[2020-11-16 18:15] ivanpopelyshev commented on #104
This is the story: https://github.com/pixijs/pixi.js/pulls?q=is%3Apr+global+mixins+

This is one of files: https://github.com/pixijs/pixi.js/blob/dev/packages/mixin-cache-as-bitmap/global.d.ts

[2020-11-16 18:31] martinemmert commented on #104
I skimmed the issues and RS's, but I can't see when or how these global mixins are introduced.
Even though it might be better to have this conversation somewhere else.

Anyway, I'll continue working on my fork and come up with a PR as soon as it is ready.

[2020-11-16 22:00] ivanpopelyshev commented on #104
Basically, we introduce interfaces in global scope, that we implement in PixiJS. That interface can be changed in other modules.

[2020-11-17 01:05] martinemmert commented on #104
Sounds interesting. Hopefully, it works out as planned. 👍
I've added my proposal to solve the module compatibility issues as PR, tested it locally with the examples and my current project. It seems to be working without any issues so far.

[2020-11-24 03:18] AdrienLemaire commented on #3
I'm afraid I still cannot find a working demo using pixi.js v5 and Tiled files (a png tileset image and a json map file containing one tileset and 5 layers of zlib base64 data).
Looking forward to seeing some progress on this issue.

[2020-12-03 02:52] SirJosh3917 commented on #14
I was just curious, is allowing people to remove frames technically feasible? I've got a game where worlds can be big (not sure how big they will be in the final release but maybe under 1000x1000) and if I have to clear the map and iterate over all the blocks on multiple layers, that'd be really intensive. I suppose I could only redraw the tiles in view, but it'd be nice if there was a method to r

[2020-12-03 09:10] ivanpopelyshev commented on #14
If you want to put million tiles in tilemap then there's something wrong on your high-level.

You have to find my explanations about high-levels VS low-level here, in pixijs issues or here: https://www.html5gamedevs.com/search/?q=pixi-tilemap&quick=1&type=forums_topic

[2020-12-20 15:43] Friksel commented on #81
I don't get this. Since around 2016/2017 I'm using npm and webpack and all modules I'm using fully support ES6 modules for use with npm/Babel/webpack. Except for threejs and pixijs.

For some reason both pixijs as well as threejs seem to think that there are a lot of people still using vanilla js without any bundler, npm, modules. I really don't get that. To me this is like developing for IE8 in 2

[2020-12-20 15:58] ivanpopelyshev commented on #81
I'm happy to elaborate, because its real pain for me for several years.

1. WebPack + TS = nightmare for plugins. There was no generation of typings of submodules, there was no way to make proper mixins for plugins.
2. Submodules, subpackages - its pain, it was developed years after ES6 imports became a thing. Eben babel moved to `@babel` stuff only in v7 or so.

Like, if you already have class Di

[2020-12-20 16:00] ivanpopelyshev commented on #81
There's also a cost of developing it in a team and checking every idea with everyone. PixiJS has much more difficult review process than ThreeJS or Phaser. I still have nightmares about Phaser3 math lib - every function in separate file :)

[2020-12-20 16:03] ivanpopelyshev commented on #81
Btw, biggest tool on 2d web is spine, and its runtime uses old-style TS modules because it mirrors what other languges have: https://github.com/EsotericSoftware/spine-runtimes/tree/3.8/spine-ts

Ask Mario why its like that :)

[2020-12-20 16:13] Friksel commented on #81
@ivanpopelyshev Thanks for your quick response Ivan. I don't get everything from your post, but I'm reading a lot about 'types', which are only in Typescript right? ThreeJs also tries to keep everything in Typescript.

Just so I understand the issue: Would the issue still be there when not using/supplying Typescript? So is lies the issue in using Typescript together with the rest of the ecosystem?

[2020-12-20 17:42] ivanpopelyshev commented on #81
Yes, there wouldnt be an issue if we did it without TS, but TS gave us more advantages in maintaining the code than ES6 modules alone would.

As for ecosystem - we now have tools to generate typescript definitions for `@pixi` modules, and a way to make mixins through fake global objects that exist only in typescript. One of things we waited for was `import type` feature in TS 3.7

[2020-12-22 13:46] Friksel commented on #81
Guess you're talking about it being typed (so perhaps better intellicense), being able to use stuff like interfaces etc.? That's a nice addition indeed. And something I was missing when once coming from a C#.net developer (developing windows software) to Javascript over 10 years ago.

I switched to Typescript for a while back in 2013 or so, but at that time transpilers were pretty slow and it felt

[2020-12-22 13:58] ivanpopelyshev commented on #81
I fail to see a problem there. If JS will be typed, it'll still need the same things TS has, so moving tools from TS to modernized JS there shouldnt be a problem. I dont count all the super-modern-type-generics stuff invented to make better angular or react apps - really that's overhead :)

Microsoft is invested in it, with VSCode. Google is invested in TS through Angular, e.t.c.

My second choice

[2020-12-22 14:19] Friksel commented on #81
That's why I wrote: there's no good or bad choice at the moment. Both have pre's and cons really.
I don't see Typescript disapear coming three years for sure. And see a rise in Typescripts popularity. Which probably also has a lot to do with Babel being able to transpile both Javascript and Typescript, so coming from the Javascript side it's the same toolset to use for Typescript which makes a cro

[2020-12-30 18:17] spassvogel commented on #104
@ivanpopelyshev for the health and longevity for pixijs and its plugins I believe it would be really good to have this. I think a lot lof developers will be initially put off by some of these old school javascript paradigms and the hacks you have to apply to get it to work in a modern setup.

[2021-01-10 08:47] SmiVan opened #106 "Missing textures crash the renderer"
Encountered in the 1.0.2 (and earlier) versions of OMORI, as discussed [on the Steam bug reports page](https://steamcommunity.com/app/1150690/discussions/0/2995422276377408303/?ctp=26#c3008934419476937394).

It seems to use a different fork of pixi-tilemap, judging by the slightly different variable names, so it has to be verified if this issue is present in this version.

---

In the implementati

[2021-01-10 14:18] ivanpopelyshev commented on #106
`textureIndex >=0 && this,textures[textureIndex]` should be fine. `drawImage` costs much more than those ifs.
 Care to make a PR?

[2021-01-12 14:06] SmiVan commented on #106
Is there a standard for error logging in this project, or should I just leave it ignored?

[2021-01-12 14:23] ivanpopelyshev commented on #106
No standards, just leave it ignored for now.

[2021-01-12 14:23] ivanpopelyshev commented on #106
`textures` were supposed to have nulls or undefineds for rpgmaker mv, and i remember that Omori uses it, right?

[2021-01-12 16:14] SmiVan commented on #106
Omori does use RPG Maker MV, listed [here](https://rpgmaker.net/games/6228/).

[2021-01-12 16:30] ivanpopelyshev commented on #106
Good!

Those checks exists in webgl: https://github.com/pixijs/pixi-tilemap/blob/master/src/TileRenderer.ts#L52
and missing in canvas2d, so you can make PR for it if you want, it doesnt need console message

[2021-01-20 16:27] redgvin commented on #7
@ivanpopelyshev Hello, I have similar issue on android device with devicePixelRatio = 3, but it happens, only when part of map packed into sprite sheets (with or without tinypng). If each part of map is separate png or sprite sheets which includes only one png it works well. Any idea why?

[2021-02-02 19:17] blurymind opened #108 "pixi-tilemap assigns wrong width and height to the object when there are empty tiles"
Gdevelop's wrapper for pixi-tilemap uses the width/height value of the object to draw a boundary box.
It appears that pixi-tilemap's width and height values are wrong whenever the tilemap has empty tiles, resulting in a smaller boundary box.
see
https://github.com/4ian/GDevelop/issues/503#issuecomment-765469355

[2021-02-03 04:55] Silver-Streak opened #109 "LDtk Json support"
The Level Designer Toolkit (formerly LE-D) is a fantastic new(ish) Tilemap editor from some of the people behind Dead Cells.

While it can currently output Tiled TMX files, the app does have it's own JSON format, documented here: https://ldtk.io/json/

Would there ever be any consideration in adding support for this JSON format?

Full disclosure: I'm interested in this to help future enhancement w

[2021-02-03 08:17] ivanpopelyshev commented on #109
The problem is that pixi-tilemap doesnt support formats per-se. what you can do is a demo where its used with this format and i post it here. tilemap itself is low-level thing

[2021-02-03 13:27] Silver-Streak commented on #109
Hey @ivanpopelyshev thanks for the quick response. Just to confirm, you would like me to make a tilemap json in LDtk and post it here? (I can also get the exact same tilemap converted over to Tiled TMX and then Tiled JSON in tiled, to show comparison).

[2021-02-09 19:14] ivanpopelyshev commented on #108
How width/height is calculated: https://github.com/pixijs/pixi-tilemap/blob/master/src/RectTileLayer.ts#L105

For every tile you add, minX maxX is calculated.

What exactly is empty tile?

[2021-02-09 19:15] ivanpopelyshev commented on #108
If you mean that "tilemap should store width/height independently and ignore tiles that go out of those bounds" - no, sorry, those fields are **calculated** , its your problem to store width/height you want in your own tilemap. If you guys want different w/h - override the setter getter, like its done in pixi TilingSprite or Sprite

[2021-02-09 19:16] ivanpopelyshev commented on #108
also you can override calculateBounds of CompositeRectTileLayer or just RectTileLayer to take your own _$_width _$_height local vars , for example.

[2021-02-09 20:18] blurymind commented on #108
Thank you for explaining :)

I did a manual calculation on gdevelop's wrapper for pixi-tilemap, but it would be nice if we could have these be calculated and stored by pixi-tilemap somewhere :)
Having the absolute width/height of the resulting tilemap is very useful when used in game engines which require it.

Gdevelop uses this to do the bounding box of the object, which has an effect on
- whethe

[2021-02-09 20:27] blurymind commented on #108
I am silly, we never add these empty tiles to pixi tilemap - so it has nothing to work with for estimating proper boundaries.

@ivanpopelyshev I think I will close this bug, the fault is in the wrapper- since it never tells pixi-tilemap about them. But how do we tell to pixi-tilemap to change it's width/height externally? That would be incredibly useful for our case

[2021-02-09 20:29] ivanpopelyshev commented on #108
override calculateBounds() to add minX/maxX/minY/maxY that you specify in it :) , just use addFrame two times - one for real tiles , one for your extra bounds

[2021-02-09 20:30] ivanpopelyshev commented on #108
At the same time, you have to do something about "width/height" property, if you want to use it for your own set bounds, and not pixi calculated ones.

[2021-02-09 20:36] blurymind commented on #108
@ivanpopelyshev you make it sound like it would be simpler to just store it in my wrapper's variables - like I did on the PR at gdevelop 😄

[2021-02-09 20:40] #108 closed

[2021-02-09 20:44] blurymind commented on #109
We plan to write a parser for gdevelop to do this bit and then pass it to pixi-tilemap to render. It will likely be added to the existing tiled json parser in https://github.com/4ian/GDevelop/blob/master/Extensions/TileMap/pixi-tilemap-helper.js

[2021-02-28 15:15] SukantPal commented on #104
#110 fixes the global `PIXI` problem

[2021-03-02 22:35] #106 closed

[2021-03-03 01:17] #104 closed

[2021-03-06 19:03] SukantPal commented on #89
The bitmaps will predefine the tileset and initialize enough tilemaps. Doing `addFrame` without passing `bitmaps` will lazily build the tileset.

[2021-03-06 19:03] #89 closed

[2021-03-06 19:06] SukantPal commented on #81
2.1.4 should solve this problem with PixiJS v6.

[2021-03-06 19:06] #81 closed

[2021-03-06 19:10] #75 closed

[2021-03-06 19:10] #62 closed

[2021-03-06 19:11] SukantPal commented on #61
I think we're going to remove it #111

[2021-03-06 19:11] #61 closed

[2021-03-06 19:11] #56 closed

[2021-03-06 19:13] #15 closed

[2021-03-06 19:13] #18 closed

[2021-03-14 19:04] SukantPal commented on #109
Hey @Silver-Streak @blurymind did you upgrade to @pixi/tilemap 3? It should have better typings + cleaner API.

[2021-03-18 17:41] Thijmen opened #114 "Feature request: Applying tint"
Hello,

I'm trying to use this awesome library together with PixiJS (again, thank you for the code! :)), but I am stuck on applying tints, so I can color my tiles.

[2021-03-20 12:04] Thijmen commented on #58
@roitto Old issue, but I'm struggling with it atm.

Why would one apply a tempPoint? That point's X and Y changes on every reload for me. For instance, I have a width of 34 and a height of 17. I never get to the point where I can make it actually clickable.

[2021-03-28 17:10] SukantPal commented on #56
The docs have been added here:- https://api.pixijs.io/@pixi/tilemap.html btw.

[2021-04-21 12:24] nik0145 opened #119 "id for tile"
I use pixi-viewport and pixi-tilemap in my game.
How can i set identifier for tile ?

[2021-04-21 12:29] ivanpopelyshev commented on #119
Please explain more

[2021-04-21 15:32] nik0145 commented on #119
Если не возражаешь на русском мне будет проще объяснить (если будет нужно переведу)
Я использвую viewport и tilemap и хочу по клику получить id тайла. в tilemap не реализовано клик по тайлам, но как я понял можно containsPoint расписать для этого. Но у viewport есть клик и т.к. он контейнер для карты то x y он получает верные и containsPoint не нужен. Теперь когда я кликаю на тайл мне нужно получи

[2021-04-21 15:45] ivanpopelyshev commented on #119
containsPoint просто проверяет все тайлы на пересечение. Можешь написать метод который будет выдавать UV конкретного тайла, к сожалению айдишника там нету, сейчас объясню почему:

обычно люди хранят тайлы где-то у себя в двумерном массиве. Алгоритм высокого уровня, будь то чанки или окошко, передает это в tilemap двумя форами. Без отделения логики от графики там много что может пойти плохо, и если

[2021-04-21 15:47] ivanpopelyshev commented on #119
Грубо говоря, @pixi/tilemap это только одна половина тайлмапы, универсальная. Вторую, высокоуровневую, все пишут сами.

[2021-04-21 17:46] nik0145 commented on #119
ну да я использую tilemap чтобы отрисовать первый слой карты который не меняется на протяжении игры. У меня  логика такая, чтобы получить информацию о втором слое карты мне нужно знать id тайла первого слоя. у меня массив 15к айтемов и по нему искать преобразованные пиксели в координаты в этом массиве думаю будет непроизводительно и нецелесообразно.
Чтобы отрисовать вторую, высокоуровневую стоит л

[2021-04-21 21:45] ivanpopelyshev commented on #119
Высокоуровневая в смысле кода а не которая выше первой на экране.

Например:

Высокий уровень: если камера вышла за некоторое окошко - делаем новое окошко чуть больше камеры (раза в полтора), и проходимся двойным FOR-ом чтобы "нарисовать" тайлмапу (на самом деле сгенерить новые визуальные тайлы)
Низкий уровень : pixi-tilemap или `PIXI.Graphics.beginTextureFill`

Если у тебя в логическом представле

[2021-04-23 09:35] nik0145 commented on #119
Ничего не понятно, но очень интересно :)
мне как раз нужно понять как накодить высокоуровневую тайлмапу, но проблема в том, что я могу получать информацию если знаю id тайла, но мне нужно будет чтото придумать чтобы его получить не привязывая при отрисовки его.
На вопрос ты ответил так что можно дальше пытаться и закрывать issue.
Спасибо!

[2021-04-23 09:35] #119 closed

[2021-06-08 15:31] jake opened #122 "CanvasRenderer using incorrect asset from spritesheet"
I'm attempting to get pixi.js legacy canvas support working, but having an issue with this library. It seems to be ignoring the x,y position within the spritesheet and just displaying from 0,0.

Here is a slimmed down demo exhibiting the issue: https://codepen.io/jacobbijani/pen/XWMBdXr

Here is the code from that link just in case:

[code]

In Chrome I see this, which is what is expected:

<img w

[2021-06-08 16:09] ivanpopelyshev commented on #122
OK, found bug, if you want to try fast fix, apply this to your @pixi/tilemap file in node_modules or where is it https://github.com/pixijs/tilemap/commit/7938df83d6ff7da591bb179d98c2d5cd67e8c602

also, you wont need to register canvas renderer after this

[2021-06-08 16:34] jake commented on #122
thanks for the prompt response! that does seem to work, but it seems i still need the registerPlugin call for it to work.

if I remove the `PIXI.CanvasRenderer.registerPlugin('tilemap', CanvasTileRenderer);` then I get a separate error I got prior as well:

<img width="789" alt="Screen Shot 2021-06-08 at 12 28 43 PM" src="https://user-images.githubusercontent.com/285917/121223029-1846ca80-c855-11e

[2021-06-08 19:04] ivanpopelyshev commented on #122
oh right because `Tilemap` doesnt have tileAnim by default... :)

[2021-06-08 19:07] jake commented on #122
great! btw, it took me a bit of sleuthing to realize I needed to register that. seems like its only documented in the actual `tilemap/src/CanvasTileRenderer.ts ` source. a section in the readme on "enabling canvas support" might be worthwhile. I'd write it but honestly I'm not sure I have a full enough grasp on how it works just yet :)

[2021-06-09 12:30] ivanpopelyshev commented on #122
Anyway, its fixed in latest release, but still needs to register plugin

[2021-06-09 14:16] jake commented on #122
sounds good. when will it be published to npm?

[2021-06-09 14:20] ivanpopelyshev commented on #122
it wasnt? Oh, I just have to call @ShukantPal again. I cant build new version for some reason :(

[2021-06-09 14:45] jake commented on #122
correct, on github and npm the latest version is still 3.2.0

[2021-06-14 15:08] jake commented on #122
@ShukantPal sorry to be annoying, but any update on publishing a new build to npm? hoping to get this integrated in my game upstream.

thanks!

[2021-06-14 15:16] ShukantPal commented on #122
I'll look into this today. Was gone on vacation.

[2021-06-15 02:13] ShukantPal commented on #122
https://github.com/pixijs/tilemap/releases/tag/v3.2.1

[2021-06-15 02:13] #122 closed

[2021-07-21 08:13] blurymind opened #124 "newest pixi-tilemap fails with renderer.plugins.tilemap undefined"
I am currently in the process of upgrading pixi-tilemap on gdevelop and after updating to the newest version of pixi-tilemap, for some reason it no longer gets added to plugins.

https://github.com/blurymind/GDevelop/tree/ldtk-p6
https://github.com/blurymind/GDevelop/blob/ldtk-p6/Extensions/TileMap/pixi-tilemap-helper.js#L586

You can test this by changing between the old and the new version of th

[2021-07-21 08:40] eXponenta commented on #124
Tilemap MUST BE registered before renderer initialisation initialisation and requred global PIXI context.
For other you should register render plygin manually like:
https://github.com/pixijs/tilemap/blob/master/src/TileRenderer.ts#L201

[2021-07-21 12:02] blurymind commented on #124
how does one do that on an existing Pixi instance? I dont think I can add it when pixi is initiated

[2021-07-21 12:39] ivanpopelyshev commented on #124
so, pixi-tilemap is included after renderer is created?

[code]

something like that

[2021-07-21 12:39] ivanpopelyshev commented on #124
I honestly didnt think about this case

[2021-07-21 13:00] blurymind commented on #124
Yes unfortunately because of how the extensions in Gdevelop work, the external library is part of the extension itself

[2021-07-21 13:47] blurymind commented on #124
`renderer.plugins.tilemap = new TileRenderer(renderer);`

I can access PIXI's global object, but have no idea how to get to the renderer.
PIXI.Renderer? thats a constructor, how do you get the current renderer?

[2021-07-21 14:08] ivanpopelyshev commented on #124
honestly, i dont know where Renderer is in GDevelop.

[2021-07-21 14:09] ivanpopelyshev commented on #124
You can hack the method `render()` and if there's no plugin - create one.

[2021-07-21 17:07] blurymind commented on #124
I think it would be better if I get the renderer from gdevelop itself

[2021-07-21 18:08] blurymind commented on #124
@ivanpopelyshev I managed to redister it as a plugin, however now there is another problem
![image](https://user-images.githubusercontent.com/6495061/126538202-f1d10026-bf4b-472a-a56a-0eac9e179b7e.png)

is this because our version of pixi on GD doesnt have utils? I am confused

[2021-07-21 18:29] blurymind commented on #124
@ivanpopelyshev I might have discovered a bug.
utils appears to be in utils.utils for that line

[2021-07-21 18:33] blurymind commented on #124
here is my wip pr btw https://github.com/4ian/GDevelop/pull/2828

[2021-07-21 18:36] ivanpopelyshev commented on #124
Ok, so, apparantly in UMD build referece to utils might be wrong, i have to check it!

Btw, since you are here , tell me, is GDevelop using `PIXI.Graphics`?

[2021-07-21 18:45] blurymind commented on #124
could be a better question for @4ian , but I think YES. I can find many references to it

[2021-07-22 15:23] blurymind commented on #124
@ivanpopelyshev @4ian interestingly its
`utils.utils.createIndicesForQuads `when I try to use the library from the IDE and its
`utils.createIndicesForQuads `when I do it from the runtime

[2021-07-22 15:46] eXponenta commented on #124
Very strange, because bundler link valid `utils` to UMD.
Look to last argument that passed as utils. it is `this.PIXI.utils`, where `this` is context global object  (self for worker, global for node, window for browser)

https://github.com/pixijs/tilemap/blob/master/dist/pixi-tilemap.umd.js#L17

[2021-08-06 21:30] hood opened #126 "CompositeTilemap has no `add` method, despite the example"
Just like the title says, the repo's readme should be updated with up-to-date documentation.

[2021-08-06 23:08] ivanpopelyshev commented on #126
yep, its `tile` now

[2021-08-07 13:06] #126 closed

[2021-08-21 09:20] amirgamil opened #129 "tileAnim does not work for negative offsets"
Hi,
I spent an hour today trying to get tileAnim to work for two tiles on the same row e.g. [a, b] but starting on b then moving back to A with `animX = -1` This led to some weird behavior where the animation loaded an incorrect tile, I changed it to start at a with `animX = 1` and it worked fine, but thought I'd open the issue for future reference.

[2021-11-03 10:59] redgvin commented on #7
@ivanpopelyshev tested on different devices, it seems working well, I guess you can close an issue

[2021-11-13 12:31] Deenis opened #132 "Tiles are reset to original, after x amount of changes"
**Description**
I'm working on a game, where players will change the tiles frequently. However, after calling tilemap.tile enough times, it starts to reset previous tiles to initial tile.

I've recreated an exaggeratee example, that shows my issue:

[code]

**Expected behavoiur:**
I would expect the whole map to start as grass, and then change to bricks after 500ms, and then stay as bricks (becaus

[2021-11-13 13:00] ivanpopelyshev commented on #132
You dont overwrite things. To overwrite, you have to access internal array, change it, and also set the modified flag.

Here you add stuff, and there's a limit on how much tyou can do before you hit 16-bit limit, as explained inreadme (readme is a bit botched at the moment). You can set 32-bit limt, but, you'll still have performance problem, because all previous tile will be done each frame

So,

[2021-11-13 13:22] Deenis commented on #132
Oh, right. So tilemap.tile("brick.png", 0, 0) basically keeps adding draw calls, instead of changing the tile data?

I've done previously implementation in different engines before, and usually consists a shader that draws a bunch of tiles from an array each frame. So if the array is changed, it's just drawning the new tile instead.

But in this implementation, you basically add a draw call when c

[2021-11-13 13:22] #132 closed

[2022-01-03 05:00] 5alidshammout opened #135 "collision"
is it possible to make a collision between an `AnimatedSprite` and a tilemap

[2022-02-16 13:39] jjhesk commented on #55
How to make it to support the v6.2.1 and above? Now I have the same problem with the tilemap plugin @ivanpopelyshev
Would you take a look?
I am using
[code]

[2022-02-16 13:52] ivanpopelyshev commented on #55
We added rotations while ago, it should work. If its not, please make minimum demo. Also currently im not working on pixijs and plugins, you should ask @ShukantPal  or someone at https://github.com/pixijs/pixijs/discussions

[2022-02-16 15:37] jjhesk commented on #55
Not long ago, I have discovered a code demo like this.
[code]

What does it mean by `canvas in pixi-tilemap does not work with rotate!!!!`

[2022-02-16 16:30] ivanpopelyshev commented on #55
Ohh, canvas renderer rotate.

https://github.com/pixijs/tilemap/blob/e7d26dde5b47a9ea941c50e62ad151acfc7ca57b/src/Tilemap.ts#L377

Somebody has to do it :)

[2022-02-16 18:01] jjhesk commented on #55
I find the line around here should work on.. https://github.com/pixijs/tilemap/blob/master/src/Tilemap.ts#L261

Let me know if it is the problem to start working

[2022-02-16 18:49] jjhesk commented on #129
make a test case for studying

[2022-02-16 19:06] ivanpopelyshev commented on #55
that exact line i mentioned - you have to modify drawImage method there

[2022-02-17 08:01] jjhesk commented on #55
I am new to pixi packages and its recent updates. I need to go thru all the code first and I am not familiar with shader rendering, I guess we need to find some expert to work on this PR.  @ivanpopelyshev @ShukantPal

[2022-03-04 13:13] Ayfri opened #136 "Update to newer PIXI version"
Hello, it would be great to have this project updated to latest PIXI 6.x version, there are surely some optimizations and refactoring possible that could increase performances.

[2022-03-04 13:33] ivanpopelyshev commented on #136
According to https://github.com/pixijs/tilemap/blob/e7d26dde5b47a9ea941c50e62ad151acfc7ca57b/package.json#L55-L60 it should work with any v6, and i dont htink there were any big changes that break compatibility

[2022-04-02 13:06] jjhesk commented on #70
I have changed to 1 too. I render texture render amount to be 40876 and it breaks in the middle around 1xxxx in the webgl.

[2022-04-02 17:33] ivanpopelyshev commented on #70
@jjhesk look in readme, it has special setting for uint32 stuff

[2022-04-03 05:50] jjhesk commented on #70
thanks. i got it resolved @ivanpopelyshev

[2022-04-21 13:00] Ayfri opened #139 "Not working with new `cullable` property from `PIXI 6.3.0`."
Hi, I'm making a game using `pixi-tilemap` but I can't use the new `cullable` property, I see no performance differences when setting it to on and off and zooming.
I'm also using pixi-viewport but it seems that it's not because of it, see https://github.com/davidfig/pixi-viewport/issues/381.

[2022-04-22 03:34] #136 closed

[2022-04-22 15:36] spassvogel commented on #114
Perhaps try using a  [ColorMatrixFilter](https://github.com/pixijs/filters) ?

[2022-04-22 16:09] ivanpopelyshev commented on #114
ou have to clone lib source ("src" folder), then add tint as tile param, there are multiple places. Add it to shader too. Its possible, people did that before

[2022-05-13 17:37] dev7355608 commented on #139
Tilemap overrides `render` instead of `_render` (and `renderCanvas` instead of `_renderCanvas`). That's why not only cullable doesn't work but also visible, renderable, filters, and mask.

[2022-05-13 17:41] ivanpopelyshev commented on #139
i should really make breaking changes to it and name 3.0

[2022-05-13 23:33] Ayfri commented on #139
Yup it would be better

[2022-05-29 21:39] Ayfri commented on #139
Any update on this ?

[2022-10-31 18:19] Ayfri opened #143 "Not working since PIXI 6.4.0"
Hi, since PIXI 6.4.0 I'm getting this weird runtime error when using a tilemap like in the examples
[code]
_(I'm using webpack also)_

I just can't use pixi-tilemap after PIXI 6.3.

[2022-11-01 00:25] ivanpopelyshev commented on #143
Most probably double-pixi problem. remove package.lock , node_modules, reinstall everything. Try register plugin manually: https://github.com/pixijs/tilemap/blob/daf420ee1aafcc59d4dd2f1da3366dbca54ecc01/src/index.ts#L44

[2022-11-04 05:08] Ayfri commented on #143
What would be the equivalent using [`@pixi/extensions`](https://pixijs.download/dev/docs/PIXI.extensions.html) new module ? as I'm getting a deprecation warning when using `registerPlugin`.

[2022-11-25 04:22] josiahbryan commented on #76
@blurymind did you ever release your demo example project? I'm coming up on a pixi project that I'm struggling to find a good way to take Tiled (TMX) maps > render in PixiJS - all repos I find are either old, outdated, or not working with Pixi since v6+ - any guidance or pointers to what you used?

I did a pixijs app "back in the day" (~2019, around v4 time - sleepcatgame.com if you're curious) bu

[2022-11-25 08:24] ivanpopelyshev commented on #76
Im implementing new animation methods for tilemap, will be released in next version for pixijs 7